.circular.alan_kay {
  background-image: url('/resources/img/2018/people/alan_kay.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.alan_kay {
    background-image: url('/resources/img/2018/people/alan_kay@2x.png');
    background-size: 125px 125px;
  }
}


.circular.ben_andreas {
  background-image: url('/resources/img/2018/people/ben_andreas.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.ben_andreas {
    background-image: url('/resources/img/2018/people/ben_andreas@2x.png');
    background-size: 125px 125px;
  }
}


.circular.ben_livshits {
  background-image: url('/resources/img/2018/people/ben_livshits.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.ben_livshits {
    background-image: url('/resources/img/2018/people/ben_livshits@2x.png');
    background-size: 125px 125px;
  }
}


.circular.chris_laffra {
  background-image: url('/resources/img/2018/people/chris_laffra.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.chris_laffra {
    background-image: url('/resources/img/2018/people/chris_laffra@2x.png');
    background-size: 125px 125px;
  }
}


.circular.cliff_click {
  background-image: url('/resources/img/2018/people/cliff_click.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.cliff_click {
    background-image: url('/resources/img/2018/people/cliff_click@2x.png');
    background-size: 125px 125px;
  }
}


.circular.dave_thomas {
  background-image: url('/resources/img/2018/people/dave_thomas.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.dave_thomas {
    background-image: url('/resources/img/2018/people/dave_thomas@2x.png');
    background-size: 125px 125px;
  }
}


.circular.eelco_visser {
  background-image: url('/resources/img/2018/people/eelco_visser.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.eelco_visser {
    background-image: url('/resources/img/2018/people/eelco_visser@2x.png');
    background-size: 125px 125px;
  }
}


.circular.holden_karau {
  background-image: url('/resources/img/2018/people/holden_karau.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.holden_karau {
    background-image: url('/resources/img/2018/people/holden_karau@2x.png');
    background-size: 125px 125px;
  }
}


.circular.jennifer_jacobs {
  background-image: url('/resources/img/2018/people/jennifer_jacobs.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.jennifer_jacobs {
    background-image: url('/resources/img/2018/people/jennifer_jacobs@2x.png');
    background-size: 125px 125px;
  }
}


.circular.manu_shridharan {
  background-image: url('/resources/img/2018/people/manu_shridharan.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.manu_shridharan {
    background-image: url('/resources/img/2018/people/manu_shridharan@2x.png');
    background-size: 125px 125px;
  }
}


.circular.ron_pressler {
  background-image: url('/resources/img/2018/people/ron_pressler.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.ron_pressler {
    background-image: url('/resources/img/2018/people/ron_pressler@2x.png');
    background-size: 125px 125px;
  }
}


.circular.simon_peyton_jones {
  background-image: url('/resources/img/2018/people/simon_peyton_jones.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.simon_peyton_jones {
    background-image: url('/resources/img/2018/people/simon_peyton_jones@2x.png');
    background-size: 125px 125px;
  }
}


.circular.steve_francia {
  background-image: url('/resources/img/2018/people/steve_francia.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.steve_francia {
    background-image: url('/resources/img/2018/people/steve_francia@2x.png');
    background-size: 125px 125px;
  }
}


.circular.thomas_wuerthinger {
  background-image: url('/resources/img/2018/people/thomas_wuerthinger.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.thomas_wuerthinger {
    background-image: url('/resources/img/2018/people/thomas_wuerthinger@2x.png');
    background-size: 125px 125px;
  }
}
