<div class="purple-stripe-splash">
  <div class="container">
  </div>
</div>

<div class="purple-stripe">
  <div class="container centered">
    <div class="speech-bubble-wrap">
      <div class="speech-bubble">
        <p class="triangle">this is a triangle</p>
        <div class="speech-text">
          A new and unusual <span class="reddish-orange">non-profit</span> conference focused on <span class="white normal">programming languages</span> <span class="amp">&amp;</span> <span class="white normal">emerging challenges in industry</span>.
        </div>
      </div>
    </div>
    <div class="tagline">
      Academia and industry <span class="light-orange">need to have a talk</span>.
    </div>
    <div class="subtagline">
      Or rather, they just need to talk in general.
    </div>
    <!-- <div class="pad-bottom"></div> -->
  </div>
</div>

<div class="reddish-orange-stripe">
  <div class="container centered">
   <div class="pad-top">&nbsp;</div>
    <div id="tickets" class="call-ends" style="color: #fff;">Sold out!</div>
    <a href="#program" class="btn btn-outline-inverse btn-lg">Program</a>
    <!-- <a href="https://regmaster4.com/2016conf/CURRYON16/register.php" class="btn btn-outline-inverse btn-lg">Register Now!</a> -->
    <!-- <a href="{{ site.baseurl }}/2016/diversity.html" class="btn btn-outline-inverse btn-lg">Diversity Scholarships</a> -->
    <br>
    <!-- <div class="early-registration">Early Registration Deadline: June 6, 2015</div> -->
    <!-- <iframe src="http://free.timeanddate.com/countdown/i4oxvawr/n43/cf12/cm0/cu4/ct0/cs1/ca0/co0/cr0/ss0/cacf2b698/cpcf2b698/pct/tcfff/fs100/szw320/szh135/iso2015-06-06T23:59:59" allowTransparency="true" frameborder="0" width="113" height="31"></iframe> -->
  </div>
  <div class="pad-bottom">&nbsp;</div>
</div>

<div class="purple-stripe">
  <div class="container">
   <div class="pad-top">&nbsp;</div>
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 about">
      Curry On is a new conference focused on the <b>intersection of emerging languages and emerging challenges in industry</b> (e.g. big data or security), as well as new ideas and paradigms in software development.
      <br/><br/>
      Curry On also seeks to act as a conduit for ferrying understanding and ideas back and forth between industry and academic programming languages, software engineering, and systems research communities (amongst others).
    </div>
    <div class="col-md-4 about">
      Curry On is a rare event where academic minds responsible for concepts and tools now invaluable to everyday software development – like functional programming, or generics in Java – collide with the movers and shakers in industry that are building next-generation systems and developing software engineering practices central to our entire industry.
      <br/><br/>
      Curry On will be held in a different European city year-to-year, and it will always be co-located with one of the top academic conferences in programming languages. This year, it's co-located with <a href="http://2016.ecoop.org/">ECOOP</a>.
    </div>
    <div class="col-md-2"></div>
   </div>
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8 about">
       <br/>
       <b>Join us for two days of fruitful and mind-altering ideas and discussions, and maybe a few beers.</b>
     </div>
     <div class="col-md-2"></div>
   </div>
  </div>
  <div class="pad-bottom">&nbsp;</div>
</div>

<div class="reddish-orange-stripe">
  <div class="container centered">
   <div class="pad-top">&nbsp;</div>
   <div class="call-ends" style="color: #ffffff;">Atypical?</div>
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 atypical">
      <div class="our-goal">Our goal:</div>
      <div class="biggish"><span class="purple biggen">Bring industry and academia together to have a conversation.</span></div>
      <div class="our-goal">But...</div>
      <div class="biggish"><span class="purple biggen">One speaker addressing hundreds of people is hardly a conversation.</span></div>
      <div class="big-white-vinyl centered"><span style="font-size: 44px;">So, let's change that.</span></div>
      <div class="our-goal">Introducing</div>
      <div class="call-ends" style="color: #fdaa40;">Chess-Timer talks</div>
      <div class="chess-timer-text">
        Chess-timer talks are our unusual solution to making tech conferences a more interactive, more fun, and better place for learning and discussions.
        <br><br>
        Speakers who choose to give a chess-timer talk are allowed 20 minutes of solo speaking time, and 20 minutes of discussion time. A Curry On representative operates a chess-timer during the presentation, switching between solo + discussion time budgets. When an audience member interrupts the talk to ask a question, for example, we switch the timer to deduct from discussion time.
        <br><br>
        Curry On will feature a limited number of chess-timer sessions, meaning that a majority of talks will still be standard conference talks.
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  </div>
  <div class="pad-bottom">&nbsp;</div>
</div>

<div class="purple-stripe">
  <div class="container">
    <!-- <div class="title centered">Keynotes</div> -->
    <div class="big-white-italic centered">
      <span class="light-orange">Two</span> days, <span class="light-orange">two</span> tracks.
      <br/><!-- <br/><img src="{{ site.baseurl }}/resources/img/two-tracks.png"/><br/> -->
      <span style="font-weight: 800; font-size: 44px;"><span class="light-orange">Four</span> exciting keynotes</span>
    </div>
    <div class="row">
      <div class="col-md-3 centered">
        <div class="circular daveherman"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://calculist.org/">Dave Herman</a></a></span><br/>
        <span class="keynote-affiliation">Mozilla</span><br/>
        <span class="keynote-known-for">Rust</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular davidnolen"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://swannodette.github.io/">David Nolen</a></span><br/>
        <span class="keynote-affiliation">Cognitect</span><br/>
        <span class="keynote-known-for">ClojureScript</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular matthias"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://www.ccs.neu.edu/home/matthias/">Matthias Felleisen</a></span><br/>
        <span class="keynote-affiliation">Northeastern University</span><br/>
        <span class="keynote-known-for">Racket</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular larry"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://www.wall.org/~larry/">Larry Wall</a></span><br/>
        <span class="keynote-known-for">Perl</span>
      </div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>

    <!-- Join designers of exciting emerging languages, popular languages, emerging paradigms and more. Add your voice to the conversation. -->

<div class="purple-stripe">
  <div class="container">
    <div id="program" class="big-white-italic centered" style="font-weight: 700; font-size: 38px;">
      Program
    </div>
    <div class="big-white-italic centered" style="font-weight: 700; font-size: 34px; margin-top: -20px; color: #fc5a4a">
      Monday, July 18<sup>th</sup>
    </div>
    <div class="">
      <table class="table-responsive program centered-div">
      <!-- style="undefined;table-layout: fixed; width: 802px; text-alignment: left;" -->
      <colgroup>
      <col style="width: 200px">
      <col style="width: 500px">
      <col style="width: 500px">
      </colgroup>
        <tr>
          <th class="tg-031e"></th>
          <th class="tg-031e">Room 1: Auditorium Loyola</th>
          <th class="tg-031e">Room 2: Foscolo</th>
        </tr>
        <tr class="tr-bottom">
          <td class="time">8:45-9:00</td>
          <td class="pad" colspan="2" class="tg-031e">
            <div class="td-title">Curry On opening remarks</div>
            Jan Vitek and Heather Miller
          </td>
        </tr>
        <tr class="tr-keynote-bg">
          <td class="time">9:00-9:50
            <div class="td-room"><span class="light">Keynote Room:</span></br>Auditorium Loyola</div>
          </td>
          <td class="pad centered-div" colspan="2">
            <div class="circular davidnolen" style="float: left; margin-right: 20px; margin-bottom: 20px;"></div>
            <div class="td-keynote"><span class="rounded-label">keynote</span></div>
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/how-to-win-big-with-old-ideas.html">How To Win Big With Old Ideas</a></div>
            <div class="td-speaker">David Nolen</div>
            <div class="td-affiliation">Cognitect</div>
            <div class="td-twitter"><a href="https://twitter.com/swannodette">@swannodette</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=JlgVSt-WWkA"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">ClojureScript</span><span class="rounded-dark-blue">Clojure</span></div>
          </td>
        </tr>
        <tr class="tr-dark">
          <td class="time">9:50-10:05</td>
          <td class="pad" colspan="2">
            <span class="td-title">Coffee break</span>, served outside of lecture hall
          </td>
        </tr>
        <tr class="tr-bottom">
          <td class="time">10:05-10:45</td>
          <td class="pad right">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/move-fast-to-fix-more-things.html">Move Fast to Fix More Things</a></div>
            <div class="td-speaker">Peter O'Hearn</div>
            <div class="td-affiliation">Facebook</div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=xc72SYVU2QY"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">separation logic</span><span class="rounded-dark-blue">static analysis</span></div>
          </td>
          <td class="pad">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/the-functional-programming-languages-nomad.html">The Functional Programming Languages Nomad</a></div>
            <div class="td-speaker">Michael Sperber</div>
            <div class="td-affiliation">Active Group</div>
            <div class="td-twitter"><a href="https://twitter.com/sperbsen">@sperbsen</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=fd-92QqUdBU"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">Functional programming</span></div>
          </td>
        </tr>
        <tr class="tr-bottom pad">
          <td class="time">10:55-11:35</td>
          <td class="pad right">
            <!-- <div class="td-keynote"><span class="rounded-label">chess timer talk</span></div> -->
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/notes-on-post-post-modern-modern-programming.html">Notes on Post-Post-Modern-Modern Programming</a></div>
            <div class="td-speaker">James Noble</div>
            <div class="td-affiliation">Victoria University of Wellington</div>
            <div class="td-twitter"><a href="https://twitter.com/jameskjx">@jameskjx</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=a5Q7td6t-iw"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">programming</span><span class="rounded-dark-blue">historical</span></div>
          </td>
          <td class="pad">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/creating-a-fun-game-with-elm.html">Creating a Fun Game with Elm</a></div>
            <div class="td-speaker">Andrey Kuzmin & Kolja Wilcke</div>
            <div class="td-affiliation">Zalando</div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=En2BKs8unnQ"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">Elm language</span></div>
          </td>
        </tr>
        <tr class="pad">
          <td class="time right">11:45-12:25</td>
          <td class="pad right">
            <!-- <div class="td-keynote"><span class="rounded-label">chess timer talk</span></div> -->
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/a-type-is-worth-a-thousand-tests.html">A Type is Worth a Thousand Tests</a></div>
            <div class="td-speaker">Manuel Chakravarty</div>
            <div class="td-affiliation">UNSW Australia & Applicative</div>
            <div class="td-twitter"><a href="https://twitter.com/TacticalGrace">@TacticalGrace</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=q1Yi-WM7XqQ"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">Swift language</span><span class="rounded-dark-blue">types</span></div>
          </td>
          <td class="pad">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/why-writing-correct-software-is-hard-and-why-math-alone-wont-help-us.html">Why Writing Correct Software Is Hard and Why Math (Alone) Won’t Help Us</a></div>
            <div class="td-speaker">Ron Pressler</div>
            <div class="td-affiliation">Parallel Universe</div>
            <div class="td-twitter"><a href="https://twitter.com/puniverseco">@puniverseco</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=dWdy_AngDp0"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags">
              <span class="rounded-dark-blue">correctness</span><span class="rounded-dark-blue">verification</span>
            </div>
          </td>
        </tr>
        <tr class="tr-dark pad">
          <td class="time">12:35-13:50</td>
          <td class="pad" colspan="2">
            <span class="td-title">Lunch</span>
            <!-- , <a href="https://www.google.com/maps/dir/Marriott,+V+Celnici,+New+Town,+Prague,+Czech+Republic/n%C3%A1m.+Republiky+1090%2F5,+Star%C3%A9+M%C4%9Bsto,+110+00+Praha-Praha+1,+Czech+Republic/@50.0878589,14.4298543,18z/data=!4m13!4m12!1m5!1m1!1s0x470b94953a805c89:0x3bd8656ea21c6555!2m2!1d14.431242!2d50.088143!1m5!1m1!1s0x470b94eb1eb84023:0xaad5482f9d85842b!2m2!1d14.4282487!2d50.0876228">Plzencka Restaurace</a>, 250 meters from venue hotel -->
          </td>
        </tr>
        <tr class="tr-bottom pad">
          <td class="time right">13:50-14:30</td>
          <td class="pad right">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/building-scalable-stateful-services.html">Building Scalable Stateful Services</a></div>
            <div class="td-speaker">Caitie McCaffrey</div>
            <div class="td-twitter"><a href="https://twitter.com/caitie">@caitie</a></div>
            <div class="td-affiliation">Twitter</div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=aJFxQAAMAQc"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">distributed systems</span><span class="rounded-dark-blue">stateful services</span></div>
          </td>
          <td class="pad orange-bg">
            <div class="td-keynote"><span class="rounded-label">chess timer talk</span></div>
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/sieve-cryptographically-enforced-access-control.html">Sieve: Cryptographically Enforced Access Control for User Data in Untrusted Clouds</a></div>
            <div class="td-speaker">Frank Wang</div>
            <div class="td-affiliation">MIT</div>
            <div class="td-twitter"><a href="https://twitter.com/ffwang2">@ffwang2</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=bE-NQqhd3xo"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">security</span></div>
          </td>
        </tr>
        <tr class="">
          <td class="time right">14:40-15:20</td>
          <td class="pad right">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/data-driven-software-security.html">Data-driven Software security using Differential Privacy and Deep Learning</a></div>
            <div class="td-speaker">Úlfar Erlingsson</div>
            <div class="td-affiliation">Google</div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=iOd9EGMB_Cg"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">security</span><span class="rounded-dark-blue">data-driven</span><span class="rounded-dark-blue">at scale</span></div>
          </td>
          <td class="pad right">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/rascal-the-swiss-army-knife-of-metaprogramming.html">Rascal: the Swiss Army Knife of Meta Programming</a></div>
            <div class="td-speaker">Tijs van der Storm</div>
            <div class="td-affiliation">Centrum Wiskunde & Informatica (CWI)</div>
            <div class="td-twitter"><a href="https://twitter.com/tvdstorm">@tvdstorm</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=Ffx7VtEOSx4"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">Rascal language</span><span class="rounded-dark-blue">metaprogramming</span></div>
          </td>
        </tr>
        <tr class="tr-dark">
          <td class="time">15:30-16:00</td>
          <td class="pad" colspan="2">
            <span class="td-title">Coffee break</span>, served outside of lecture hall
          </td>
        </tr>
        <tr class="tr-bottom">
          <td class="time right">16:00-16:40</td>
          <td class="pad right orange-bg">
            <div class="td-keynote"><span class="rounded-label">chess timer talk</span></div>
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/doing-data-science-with-clojure.html">Doing data science with Clojure: the ugly, the sad, the joyful</a></div>
            <div class="td-speaker">Simon Belak</div>
            <div class="td-affiliation">GoOpti</div>
            <div class="td-twitter"><a href="https://twitter.com/sbelak">@sbelak</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=6tZQqwil1c0"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">Clojure</span><span class="rounded-dark-blue">data science</span></div>
          </td>
          <td class="pad">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/why-the-free-monad-isnt-free.html">Why The Free Monad isn't Free</a></div>
            <div class="td-speaker">Kelley Robinson</div>
            <div class="td-affiliation">Sharethrough</div>
            <div class="td-twitter"><a href="https://twitter.com/kelleyrobinson">@kelleyrobinson</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=20WVE3bkYrQ"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">functional programming</span><span class="rounded-dark-blue">monads</span></div>
          </td>
        </tr>
        <tr class="tr-bottom">
          <td class="time right">16:50-17:30</td>
          <td class="pad right">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/oden-a-functional-programming-language-for-the-go-ecosystem.html">Oden - A Functional Programming Language for the Go Ecosystem</a></div>
            <div class="td-speaker">Oskar Wickström</div>
            <div class="td-affiliation">Empear</div>
            <div class="td-twitter"><a href="https://twitter.com/owickstrom">@owickstrom</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=t_bR2UBEmp0"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">Oden language</span><span class="rounded-dark-blue">functional programming</span><span class="rounded-dark-blue">types</span></div>
          </td>
          <td class="pad">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/exercises-in-programming-style.html">Exercises in Programming Style</a></div>
            <div class="td-speaker">Crista Lopes</div>
            <div class="td-affiliation">UC Irvine</div>
            <div class="td-twitter"><a href="https://twitter.com/cristalopes">@cristalopes</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=JlPMOszyjjo"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">programming paradigms</span></div>
          </td>
        </tr>
        <tr class="tr-keynote-bg">
          <td class="time">17:40-18:30
            <div class="td-room"><span class="light">Keynote Room:</span></br> Auditorium Loyola</div>
          </td>
          <td class="pad centered-div" colspan="2">
            <div class="circular matthias" style="float: left; margin-right: 20px; margin-bottom: 20px;"></div>
            <div class="td-keynote"><span class="rounded-label">keynote</span></div>
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/the-racket-manifesto.html">The Racket Manifesto</a></div>
            <div class="td-speaker">Matthias Felleisen</div>
            <div class="td-affiliation">Northeastern University</div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=-cLI3GHvLOM"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">Racket language</span></div>
          </td>
        </tr>
        <tr class="tr-dark">
          <td class="time">19:30-22:00</td>
          <td class="pad" colspan="2">
            <span class="td-title">Curry On Party!</span>
            <!-- , at <a href="https://www.google.cz/maps/place/Velk%C3%A1+kl%C3%A1%C5%A1tern%C3%AD+restaurace/@50.0870806,14.3886191,17z/data=!3m1!4b1!4m2!3m1!1s0x470b951af1fc3405:0xc23bc63231e567b2?hl=en">Velká klášterní restaurace</a> -->
          </td>
        </tr>
      </table>
    </div>

    <br/><br/><br/><br/>
    <div class="big-white-italic centered" style="font-weight: 700; font-size: 34px; color: #fc5a4a">
      Tuesday, July 19<sup>th</sup>
    </div>
    <div class="">
      <table class="table-responsive program centered-div">
      <!-- style="undefined;table-layout: fixed; width: 802px; text-alignment: left;" -->
      <colgroup>
      <col style="width: 200px">
      <col style="width: 500px">
      <col style="width: 500px">
      </colgroup>
        <tr>
          <th class="tg-031e"></th>
          <th class="tg-031e">Room 1: Auditorium Loyola</th>
          <th class="tg-031e">Room 2: Foscolo</th>
        </tr>
        <tr class="tr-keynote-bg">
          <td class="time">9:00-9:50
            <div class="td-room"><span class="light">Keynote Room:</span></br>Auditorium Loyola</div>
          </td>
          <td class="pad centered-div" colspan="2">
            <div class="circular larry" style="float: left; margin-right: 20px; margin-bottom: 20px;"></div>
            <div class="td-keynote"><span class="rounded-label">keynote</span></div>
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/its-the-end-of-the-world-as-we-know-it.html">It's the End of the World as We Know It, and I Feel Fine</a></div>
            <div class="td-speaker">Larry Wall</div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=BJIfPFpaMRI"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">Perl language</span></div>
          </td>
        </tr>
        <tr class="tr-dark">
          <td class="time">9:50-10:05</td>
          <td class="pad" colspan="2">
            <span class="td-title">Coffee break</span>, served outside of lecture hall
          </td>
        </tr>
        <tr class="tr-bottom">
          <td class="time">10:05-10:45</td>
          <td class="pad right">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/dartino-a-managed-language-on-microcontrollers.html">Dartino: a managed language on micro-controllers?</a></div>
            <div class="td-speaker">Kasper Lund</div>
            <div class="td-affiliation">Google</div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=t4IUhsuhnXw"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">Dart language</span><span class="rounded-dark-blue">microcontrollers</span></div>
          </td>
          <td class="pad orange-bg">
            <div class="td-keynote"><span class="rounded-label">chess timer talk</span></div>
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/functional-programming-and-foreign-language-interfaces.html">Functional Programming and Foreign Language Interfaces: Essentials in Distributed Computing</a></div>
            <div class="td-speaker">Jörgen Brandt</div>
            <div class="td-affiliation">Humboldt University</div>
            <div class="td-twitter"><a href="https://twitter.com/joergenbr">@joergenbr</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=E6fpICLZ1cw"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">Cuneiform language</span><span class="rounded-dark-blue">distributed programming</span><span class="rounded-dark-blue">functional programming</span></div>
          </td>
        </tr>
        <tr class="tr-bottom pad">
          <td class="time">10:55-11:35</td>
          <td class="pad right">
            <!-- <div class="td-keynote"><span class="rounded-label">chess timer talk</span></div> -->
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/redesigning-type-systems-for-industry-oo.html">Redesigning Type Systems for Industry OO</a></div>
            <div class="td-speaker">Ross Tate</div>
            <div class="td-affiliation">Cornell University</div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=V9S8lU58K68"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">types</span><span class="rounded-dark-blue">Ceylon language</span><span class="rounded-dark-blue">Kotlin language</span></div>
          </td>
          <td class="pad">
            <!-- <div class="td-keynote"><span class="rounded-label">chess timer talk</span></div> -->
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/the-future-of-programming-will-be-live.html">The Future of Programming will be Live</a></div>
            <div class="td-speaker">Sean McDirmid</div>
            <div class="td-affiliation">Microsoft Research</div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=bnqkglrSqrg"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">live programming languages</span></div>
          </td>
        </tr>
        <tr class="pad">
          <td class="time right">11:45-12:25</td>
          <td class="pad right">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/zoncolan-static-analysis-for-security-at-facebook.html">Static analysis for security at the Facebook scale</a></div>
            <div class="td-speaker">Francesco Logozzo</div>
            <div class="td-affiliation">Facebook</div>
            <div class="td-twitter"><a href="https://twitter.com/francescologozz">@francescologozz</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">static analysis</span><span class="rounded-dark-blue">at scale</span></div>
          </td>
          <td class="pad orange-bg">
            <div class="td-keynote"><span class="rounded-label">chess timer talk</span></div>
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/from-unikernels-to-databases-to-uis.html">From Unikernels to Databases to UIs: Truly full-stack apps in OCaml</a></div>
            <div class="td-speaker">Sean Grove</div>
            <div class="td-twitter"><a href="https://twitter.com/sgrove">@sgrove</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=QWfHrbSqnB0"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">OCaml language</span><span class="rounded-dark-blue">performance</span></div>
          </td>
        </tr>
        <tr class="tr-dark pad">
          <td class="time">12:35-13:50</td>
          <td class="pad" colspan="2">
            <span class="td-title">Lunch</span>
            <!-- , <a href="https://www.google.com/maps/dir/Marriott,+V+Celnici,+New+Town,+Prague,+Czech+Republic/n%C3%A1m.+Republiky+1090%2F5,+Star%C3%A9+M%C4%9Bsto,+110+00+Praha-Praha+1,+Czech+Republic/@50.0878589,14.4298543,18z/data=!4m13!4m12!1m5!1m1!1s0x470b94953a805c89:0x3bd8656ea21c6555!2m2!1d14.431242!2d50.088143!1m5!1m1!1s0x470b94eb1eb84023:0xaad5482f9d85842b!2m2!1d14.4282487!2d50.0876228">Plzencka Restaurace</a>, 250 meters from venue hotel -->
          </td>
        </tr>
        <tr class="tr-bottom pad">
          <td class="time right">13:50-14:30</td>
          <td class="pad right">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/practical-demystification-of-crdts.html">Practical Demystification of CRDTs</a></div>
            <div class="td-speaker">Dmitry Ivanov & Nami Nasserazad</div>
            <div class="td-affiliation">TomTom</div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=ShiU9g5JFq8"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">CRDTs</span><span class="rounded-dark-blue">distributed programming</span></div>
          </td>
          <td class="pad orange-bg">
            <div class="td-keynote"><span class="rounded-label">chess timer talk</span></div>
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/on-the-chemistry-of-typestate-oriented-actors.html">On the chemistry of typestate-oriented actors</a></div>
            <div class="td-speaker">Silvia Crafa</div>
            <div class="td-affiliation">University of Padova</div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=XPiI3BRxnZM"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">actors</span><span class="rounded-dark-blue">concurrency</span><span class="rounded-dark-blue">Scala language</span></div>
          </td>
        </tr>
        <tr class="">
          <td class="time right">14:40-15:20</td>
          <td class="pad right">
            <!-- <div class="td-keynote"><span class="rounded-label">chess timer talk</span></div> -->
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/distributed-iterative-computation-in-tensorflow.html">Distributed Iterative Computation in TensorFlow</a></div>
            <div class="td-speaker">Yuan Yu</div>
            <div class="td-affiliation">Google</div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=8rgd7X_E6v4"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">Tensorflow</span><span class="rounded-dark-blue">deep learning</span><span class="rounded-dark-blue">machine learning</span></div>
          </td>
          <td class="pad">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/become-a-polyglot-by-learning-java.html">Become a Polyglot by learning Java!</a></div>
            <div class="td-speaker">Jaroslav Tulach</div>
            <div class="td-affiliation">Oracle Labs</div>
            <div class="td-twitter"><a href="https://twitter.com/JaroslavTulach">@JaroslavTulach</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=N__8TBcaDTs"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">VMs</span><span class="rounded-dark-blue">Truffle VM</span></div>
          </td>
        </tr>
        <tr class="tr-dark">
          <td class="time">15:30-16:00</td>
          <td class="pad" colspan="2">
            <span class="td-title">Coffee break</span>, served outside of lecture hall
          </td>
        </tr>
        <tr class="tr-bottom">
          <td class="time right">16:00-16:40</td>
          <td class="pad right">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/distributed-configuration-with-clojure.html">Distributed Configuration with Clojure</a></div>
            <div class="td-speaker">Renzo Borgatti</div>
            <div class="td-affiliation">Mailonline</div>
            <div class="td-twitter"><a href="https://twitter.com/reborg">@reborg</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=FKa24oHsHbA"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">configuration</span><span class="rounded-dark-blue">Clojure language</span><span class="rounded-dark-blue">functional programming</span></div>
          </td>
          <td class="pad">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/what-is-programming.html">What is programming?</a></div>
            <div class="td-speaker">Juan Lulkin</div>
            <div class="td-twitter"><a href="https://twitter.com/joaomilho">@joaomilho</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=xOOkc8xI06E"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">philosophy</span><span class="rounded-dark-blue">programming</span></div>
          </td>
        </tr>
        <tr class="tr-bottom">
          <td class="time right">16:50-17:30</td>
          <td class="pad right">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/are-we-ready-for-secure-languages.html">Are We Ready for Secure Languages?</a></div>
            <div class="td-speaker">Cristina Cifuentes</div>
            <div class="td-affiliation">Oracle Labs</div>
            <div class="td-twitter"><a href="https://twitter.com/criscifuentes">@criscifuentes</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=-fC975HLhyc"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">secure programming languages</span><span class="rounded-dark-blue">security</span></div>
          </td>
          <td class="pad">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/using-object-algebras-to-design-embedded-dsls.html">Using Object Algebras To Design Embedded Domain Specific Languages</a></div>
            <div class="td-speaker">Julien Richard-Foy</div>
            <div class="td-affiliation">Zengularity</div>
            <div class="td-twitter"><a href="https://twitter.com/julienrf">@julienrf</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=snbsYyBS4Bs"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">DSLs</span><span class="rounded-dark-blue">Scala language</span></div>
          </td>
        </tr>
        <tr class="tr-bottom">
          <td class="time right">17:40-18:20</td>
          <td class="pad right">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/a-brief-and-incomplete-history-of-programming-languages.html">A brief and incomplete history of programming languages</a></div>
            <div class="td-speaker">Andrea Magnorsky</div>
            <div class="td-twitter"><a href="https://twitter.com/silverspoon">@silverspoon</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=ZuDm2PPQNMQ"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">programming languages</span><span class="rounded-dark-blue">historical</span></div>
          </td>
          <td class="pad">
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/to-macros-and-beyond.html">To Macros and Beyond!: How macros changed Scala, and what's coming next</a></div>
            <div class="td-speaker">Eugene Burmako</div>
            <div class="td-affiliation">EPFL</div>
            <div class="td-twitter"><a href="https://twitter.com/xeno_by">@xeno_by</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=AUM_WXac6hg"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">Scala language</span><span class="rounded-dark-blue">metaprogramming</span><span class="rounded-dark-blue">macros</span></div>
          </td>
        </tr>
        <tr class="tr-keynote-bg">
          <td class="time">18:30-19:20
            <div class="td-room"><span class="light">Keynote Room:</span></br>Auditorium Loyola</div>
          </td>
          <td class="pad centered-div" colspan="2">
            <div class="circular daveherman" style="float: left; margin-right: 20px; margin-bottom: 20px;"></div>
            <div class="td-keynote"><span class="rounded-label">keynote</span></div>
            <div class="td-title"><a href="{{ site.baseurl }}/2016/sessions/building-an-open-source-research-lab.html">Building an Open Source Research Lab</a></div>
            <div class="td-speaker">Dave Herman</div>
            <div class="td-affiliation">Mozilla Research</div>
            <div class="td-twitter"><a href="https://twitter.com/littlecalculist">@littlecalculist</a></div>
            <div class="td-video-link">
              <a href="https://www.youtube.com/watch?v=9OHcJzJQ2Nk"><span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch</a>
            </div>
            <div class="td-tags"><span class="rounded-dark-blue">research</span><span class="rounded-dark-blue">open source</span><span class="rounded-dark-blue">Rust language</span></div>
          </td>
        </tr>
      </table>
    </div>

    <div class="pad-bottom"></div>
  </div>
</div>

<div class="reddish-orange-stripe">
  <div class="container centered">
    <div class="tagline">Sorry, we sold out of tickets! :/</div>
    <!-- <div class="call-ends">Tickets go on sale Friday, May 1<sup>st</sup>, at 5pm CEST</div> -->

    <div class="subtagline" style="font-weight: 300; color: #073642; margin-bottom: 10px;">
      Ticket trasfers are allowed. If you're looking for a ticket, tweet to <a href="http://www.twitter.com/curry_on_conf">@curry_on_conf</a>, we're happy to RT all requests for ticket transfers!
    </div>
    <!-- <a href="https://regmaster4.com/2016conf/CURRYON16/register.php" class="btn btn-outline-inverse btn-lg">Register Now!</a> -->
     <div class="pad-bottom"></div>
   </div>
</div>

<div class="purple-stripe">
  <div class="pad-top">&nbsp;</div>
  <br/><br/>
  <div class="container centered sponsorship">
    <span class="big-white-italic">We <span style="color: #ce4844;" class="entypo heart"></span> these folks</span><br/><br/>
    <br/><br/>
    <a style="border: 0px;" href="http://www.google.com"><img src="{{ site.baseurl }}/resources/img/google.png"></a>
    <br/><br/>
    <a style="border: 0px;" href="http://research.facebook.com"><img src="{{ site.baseurl }}/resources/img/fb.png"></a>
    <br/><br/>
    <a style="border: 0px;" href="https://tech.zalando.de"><img src="{{ site.baseurl }}/resources/img/zalando.png"></a>
    <br/><br/>
    <a style="border: 0px;" href="https://www.mozilla.org/en-US/research/"><img src="{{ site.baseurl }}/resources/img/mozilla.png"></a>
    <br/><br/>
    <a style="border: 0px;" href="http://www.labs.oracle.com/"><img src="{{ site.baseurl }}/resources/img/oraclelabs.png"></a>
    <br/><br/>
    <a style="border: 0px;" href="https://nextjournal.com/"><img src="{{ site.baseurl }}/resources/img/nextjournal.png"></a>
    <br/><br/>
    <a style="border: 0px;" href="http://www.logicblox.com/"><img src="{{ site.baseurl }}/resources/img/logicblox.png"></a>
    <br/><br/>
    <a style="border: 0px;" href="http://www.huawei.com/en/"><img src="{{ site.baseurl }}/resources/img/huawei.png"></a>
    <br/><br/>
    <a style="border: 0px;" href="http://www.six-group.com/about/en/home.html"><img src="{{ site.baseurl }}/resources/img/six.png">
    <br/><br/>
    <a style="border: 0px;" href="http://www.ibm.com/us-en/"><img src="{{ site.baseurl }}/resources/img/ibm.png"></a>
    <br/><br/>
    <a style="border: 0px;" href="https://www.tomtom.com"><img src="{{ site.baseurl }}/resources/img/tomtom.png"></a>
    <br/><br/>
    <a style="border: 0px;" href="http://www.workday.com/company/careers/jobs.php#~/q=software&region_location=EMEA_Dublin%2C%20Ireland/~"><img src="{{ site.baseurl }}/resources/img/workday.png"></a>
    <br/><br/>
    <a style="border: 0px;" href="http://empear.com/"><img src="{{ site.baseurl }}/resources/img/empear.png"></a>
    <br/><br/><br/>
    <div class="wanna-help" style="margin-bottom: 18px;">Wanna help?</div>
    <a href="{{ site.baseurl }}/2016/sponsorship.html" class="btn btn-outline-inverse btn-lg">Sponsorship Opportunities</a>
    <div class="pad-bottom"></div>
  </div>
  <br/>
</div>

<div class="purple-stripe">
  <div class="container">
    <div class="organizers-title centered">
      Organizers
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"><div class="circular heather"></div><div class="white-text centered organizer"><a href="http://heather.miller.am">Heather Miller</a><br/>EPFL<br/><span class="organizer-chair"></span></div></div>
      <div class="col-md-2"><div class="circular jan"></div><div class="white-text centered organizer"><a href="http://janvitek.github.io/">Jan Vitek</a><br/>Northeastern University<br/><span class="organizer-chair"></span></div></div>
      <div class="col-md-2"><div class="circular chris"></div><div class="white-text centered organizer"><a href="http://christophermeiklejohn.com/">Christopher Meiklejohn</a><br/>UCL<br/><span class="organizer-chair"></span></div></div>
      <div class="col-md-2"><div class="circular torsten"></div><div class="white-text centered organizer"><a href="https://www.linkedin.com/in/torsten-layda-964884">Torsten Layda</a><br/>SIX Global IT<br/><span class="organizer-chair"></span></div></div>
      <div class="col-md-2"></div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>
