<div class="purple-stripe-splash">
  <div class="container">
  </div>
</div>

<div class="purple-stripe">
  <div class="container centered">
    <div class="speech-bubble-wrap">
      <div class="speech-bubble">
        <p class="triangle">this is a triangle</p>
        <div class="speech-text">
          A new and unusual <span class="light-orange">non-profit</span> conference focused on <br/><span class="white normal">programming languages</span> <span class="amp">&amp;</span> <span class="white normal">emerging challenges in industry</span>.
        </div>
      </div>
    </div>
    <div class="tagline">
      Academia and industry <span class="light-orange">need to have a talk</span>.
    </div>
    <div class="subtagline">
      Or rather, they just need to talk in general.
    </div>
    <!-- <div class="pad-bottom"></div> -->
  </div>
</div>

<!-- <div class="orange-stripe">
  <div class="container centered">
   <div class="pad-top">&nbsp;</div>
    <div id="tickets" class="call-ends" style="color: #fff;">Tickets available!</div>
    <a href="{{ site.baseurl }}/2015/index.html#program" class="btn btn-outline-inverse btn-lg">Program</a>
    <a href="https://regmaster4.com/2015conf/ECOOP15/register.php" class="btn btn-outline-inverse btn-lg">Register Now!</a>
    <a href="{{ site.baseurl }}/2015/diversity.html" class="btn btn-outline-inverse btn-lg">Diversity Scholarships</a>
    <br> -->
    <!-- <div class="early-registration">Early Registration Deadline: June 6, 2015</div> -->
    <!-- <iframe src="http://free.timeanddate.com/countdown/i4oxvawr/n43/cf12/cm0/cu4/ct0/cs1/ca0/co0/cr0/ss0/cacf2b698/cpcf2b698/pct/tcfff/fs100/szw320/szh135/iso2015-06-06T23:59:59" allowTransparency="true" frameborder="0" width="113" height="31"></iframe> -->
  <!-- </div>
  <div class="pad-bottom">&nbsp;</div>
</div> -->

<div class="purple-stripe">
  <div class="container">
   <div class="pad-top">&nbsp;</div>
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 about">
      Curry On is a new conference focused on the <b>intersection of emerging languages and emerging challenges in industry</b> (e.g. big data or security), as well as new ideas and paradigms in software development.
      <br/><br/>
      Curry On also seeks to act as a conduit for ferrying understanding and ideas back and forth between industry and academic programming languages, software engineering, and systems research communities (amongst others).
    </div>
    <div class="col-md-4 about">
      Curry On is a rare event where academic minds responsible for concepts and tools now invaluable to everyday software development – like functional programming, or generics in Java – collide with the movers and shakers in industry that are building next-generation systems and developing software engineering practices central to our entire industry.
      <br/><br/>
      Curry On will be held in a different European city year-to-year, and it will always be co-located with one of the top academic conferences in programming languages. This year, it's co-located with <a href="http://2016.ecoop.org/">ECOOP</a>.
    </div>
    <div class="col-md-2"></div>
   </div>
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8 about">
       <br/>
       <b>Join us for two days of fruitful and mind-altering ideas and discussions, and maybe a few beers.</b>
     </div>
     <div class="col-md-2"></div>
   </div>
  </div>
  <div class="pad-bottom">&nbsp;</div>
</div>

<div class="reddish-orange-stripe">
  <div class="container centered">
   <div class="pad-top">&nbsp;</div>
   <div class="call-ends" style="color: #ffffff;">Atypical?</div>
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 atypical">
      <div class="our-goal">Our goal:</div>
      <div class="biggish"><span class="purple biggen">Bring industry and academia together to have a conversation.</span></div>
      <div class="our-goal">But...</div>
      <div class="biggish"><span class="purple biggen">One speaker addressing hundreds of people is hardly a conversation.</span></div>
      <div class="big-white-vinyl centered"><span style="font-size: 44px;">So, let's change that.</span></div>
      <div class="our-goal">Introducing</div>
      <div class="call-ends" style="color: #fdaa40;">Chess-Timer talks</div>
      <div class="chess-timer-text">
        Chess-timer talks are our unusual solution to making tech conferences a more interactive, more fun, and better place for learning and discussions.
        <br><br>
        Speakers who choose to give a chess-timer talk are allowed 20 minutes of solo speaking time, and 20 minutes of discussion time. A Curry On representative operates a chess-timer during the presentation, switching between solo + discussion time budgets. When an audience member interrupts the talk to ask a question, for example, we switch the timer to deduct from discussion time.
        <br><br>
        Curry On will feature a limited number of chess-timer sessions, meaning that a majority of talks will still be standard conference talks.
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  </div>
  <div class="pad-bottom">&nbsp;</div>
</div>

<div class="purple-stripe">
  <div class="container">
    <!-- <div class="title centered">Keynotes</div> -->
    <div class="big-white-italic centered">
      <span class="light-orange">Two</span> days, <span class="light-orange">two</span> tracks.
      <br/><!-- <br/><img src="{{ site.baseurl }}/resources/img/two-tracks.png"/><br/> -->
      <span style="font-weight: 800; font-size: 44px;"><span class="light-orange">Four</span> exciting keynotes</span>
    </div>
    <div class="row">
      <div class="col-md-3 centered">
        <div class="circular daveherman"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://calculist.org/">Dave Herman</a></a></span><br/>
        <span class="keynote-affiliation">Mozilla</span><br/>
        <span class="keynote-known-for">Rust</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular davidnolen"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://swannodette.github.io/">David Nolen</a></span><br/>
        <span class="keynote-affiliation">Cognitect</span><br/>
        <span class="keynote-known-for">Creator of ClojureScript</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular matthias"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://www.ccs.neu.edu/home/matthias/">Matthias Felleisen</a></span><br/>
        <span class="keynote-affiliation">Northeastern University</span><br/>
        <span class="keynote-known-for">Racket/PLT Scheme</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular larry"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://www.wall.org/~larry/">Larry Wall</a></span><br/>
        <span class="keynote-known-for">Creator of Perl</span>
      </div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>

    <!-- Join designers of exciting emerging languages, popular languages, emerging paradigms and more. Add your voice to the conversation. -->

<div class="purple-stripe">
  <div class="container">
    <div class="big-white-italic centered" style="font-weight: 700; font-size: 38px;">
      and many more influential speakers!
    </div>
    <div class="row">
      <div class="col-md-1 centered"></div>
      <div class="col-md-2 centered">
        <div class="circular phil"></div>
        <span class="gray-text centered speaker"><a href="http://homepages.inf.ed.ac.uk/wadler/">Phil Wadler</a></span><br/>
        <span class="keynote-affiliation">University of Edinburgh</span><br/>
        <span class="keynote-known-for">Functional Programming, Haskell</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular marc"></div>
        <span class="gray-text centered speaker"><a href="http://pagesperso-systeme.lip6.fr/Marc.Shapiro/">Marc Shapiro</a></span><br/>
        <span class="keynote-affiliation">INRIA</span><br/>
        <span class="keynote-known-for">CRDTs</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular cliff"></div>
        <span class="gray-text centered speaker"><a href="http://0xdata.com/">Cliff Click</a></span><br/>
        <span class="keynote-affiliation">0xdata</span><br/>
        <span class="keynote-known-for">HotSpot</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular andrey"></div>
        <span class="gray-text centered speaker"><a href="https://sites.google.com/site/abreslav2/">Andrey Breslav</a></span><br/>
        <span class="keynote-affiliation">JetBrains</span><br/>
        <span class="keynote-known-for">Creator of Kotlin Language</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular andy"></div>
        <span class="gray-text centered speaker"><a href="http://research.microsoft.com/en-us/people/adg/">Andy Gordon</a></span><br/>
        <span class="keynote-affiliation">Microsoft Research</span><br/>
        <span class="keynote-known-for">Probabilistic Programming</span>
      </div>
      <div class="col-md-1 centered"></div>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
      <div class="col-md-2 centered"></div>
      <div class="col-md-2 centered">
        <div class="circular bodil"></div>
        <span class="gray-text centered speaker"><a href="http://bodil.org/">Bodil Stokke</a></span><br/>
        <span class="keynote-known-for">PureScript</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular julia"></div>
        <span class="gray-text centered speaker"><a href="http://pagesperso-systeme.lip6.fr/Julia.Lawall/">Julia Lawall</a></span><br/>
        <span class="keynote-affiliation">INRIA</span><br/>
        <span class="keynote-known-for">Coccinelle</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular filip"></div>
        <span class="gray-text centered speaker"><a href="http://www.filpizlo.com/">Filip Pizlo</a></span><br/>
        <span class="keynote-affiliation">Apple</span><br/>
        <span class="keynote-known-for">WebKit</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular tony"></div>
        <span class="gray-text centered speaker"><a href="https://www.linkedin.com/pub/tony-printezis/5/a8b/44b">Tony Printezis</a></span><br/>
        <span class="keynote-affiliation">Twitter</span><br/>
        <!-- <span class="keynote-known-for"></span> -->
      </div>
      <div class="col-md-2 centered"></div>
    </div>
    <div class="row" style="height: 40px;"></div>
    <div class="row">
      <div class="col-md-5 centered"></div>
      <div class="col-md-2 centered">
        <div class="circular silhouette"></div>
        <span class="gray-text centered speaker"><a href="">Your Name Here</a></span><br/>
        <!-- <span class="keynote-affiliation">INRIA</span><br/> -->
        <!-- <span class="keynote-known-for">Coccinelle</span> -->
      </div>
      <div class="col-md-5 centered"></div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>

<div class="reddish-orange-stripe">
  <div class="container centered">
    <div class="hand-drawn"><img src="{{ site.baseurl }}/resources/img/hand-drawn.png"></div>
    <div class="tagline">
      Add your voice to the conversation.
    </div>
    <div class="subtagline" style="margin-bottom: 20px; color: #fff;">
      Join designers of exciting emerging languages, popular languages,
      <br/>emerging paradigms and more.
    </div>
    <a href="{{ site.baseurl }}/call-for-presentations.html" class="btn btn-outline-inverse btn-lg">Call for Presentations</a>
    <div class="call-ends">Deadline: April 3<sup>rd</sup></div>
    <div class="pad-bottom"></div>
  </div>
</div>

    <!-- Interested in joining us? If -->
<div class="purple-stripe">
  <div class="container centered">
    <div class="tagline">Interested in attending?</div>
    <div class="subtagline" style="font-weight: 300; color: #fff; margin-bottom: 10px;">Help us make sure we book enough space to accommodate everyone.<br/>Tell us if you'd like to score a ticket!</div>
    <div class="fyi white">
      Leave your name and email address so we can let you know when tickets become available.
      <br/>Fret not, we'll use your email address only to contact you to inform you when tickets go on sale.
    </div>
    <div class="fyi gray">
      (Tickets are estimated to cost &euro; 500-600, and will be good for all of Curry On, <a href="http://2015.ecoop.org/">ECOOP</a>, and
      <br/>other co-located events for the entire week. PS, there will be a student rate too!)
    </div>
    {% include mailchimp.html %}
    <div class="pad-bottom"></div>
  </div>
</div>

<div class="reddish-orange-stripe">
  <div class="pad-top"></div>
  <div class="container centered sponsorship">
    <div class="wanna-help" style="margin-bottom: 18px;">Wanna help?</div>
    <a href="{{ site.baseurl }}/2015/sponsorship.html" class="btn btn-outline-inverse btn-lg">Sponsorship Opportunities</a>
    <div class="pad-bottom"></div>
  </div>
</div>

<div class="reddish-orange-stripe">
  <div class="container">
    <div class="organizers-title centered">
      Organizers
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-2"><div class="circular heather"></div><div class="white-text centered organizer"><a href="http://heather.miller.am">Heather Miller</a><br/>EPFL<br/><span class="organizer-chair">(Co-Chair)</span></div></div>
      <div class="col-md-2"><div class="circular jan"></div><div class="white-text centered organizer"><a href="http://janvitek.github.io/">Jan Vitek</a><br/>Northeastern University<br/><span class="organizer-chair">(Co-Chair)</span></div></div>
      <div class="col-md-2"><div class="circular chris"></div><div class="white-text centered organizer"><a href="http://christophermeiklejohn.com/">Christopher Meiklejohn</a><br/>UCL<br/><span class="organizer-chair"></span></div></div>
      <div class="col-md-3"></div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>
