<div class="purple-stripe-splash">
  <div class="container">
  </div>
</div>

<div class="purple-stripe">
  <div class="container centered">
    <div class="speech-bubble-wrap">
      <div class="speech-bubble">
        <p class="triangle">this is a triangle</p>
        <div class="speech-text">
          A new and unusual <span class="reddish-orange">non-profit</span> conference focused on <span class="white normal">programming languages</span> <span class="amp">&amp;</span> <span class="white normal">emerging challenges in industry</span>.
        </div>
      </div>
    </div>
    <div class="tagline">
      Academia and industry <span class="light-orange">need to have a talk</span>.
    </div>
    <div class="subtagline">
      Or rather, they just need to talk in general.
    </div>
    <!-- <div class="pad-bottom"></div> -->
  </div>
</div>

<!-- <div class="orange-stripe">
  <div class="container centered">
   <div class="pad-top">&nbsp;</div>
    <div id="tickets" class="call-ends" style="color: #fff;">Tickets available!</div>
    <a href="{{ site.baseurl }}/2015/index.html#program" class="btn btn-outline-inverse btn-lg">Program</a>
    <a href="https://regmaster4.com/2015conf/ECOOP15/register.php" class="btn btn-outline-inverse btn-lg">Register Now!</a>
    <a href="{{ site.baseurl }}/2015/diversity.html" class="btn btn-outline-inverse btn-lg">Diversity Scholarships</a>
    <br> -->
    <!-- <div class="early-registration">Early Registration Deadline: June 6, 2015</div> -->
    <!-- <iframe src="http://free.timeanddate.com/countdown/i4oxvawr/n43/cf12/cm0/cu4/ct0/cs1/ca0/co0/cr0/ss0/cacf2b698/cpcf2b698/pct/tcfff/fs100/szw320/szh135/iso2015-06-06T23:59:59" allowTransparency="true" frameborder="0" width="113" height="31"></iframe> -->
  <!-- </div>
  <div class="pad-bottom">&nbsp;</div>
</div> -->

<div class="purple-stripe">
  <div class="container">
   <div class="pad-top">&nbsp;</div>
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 about">
      Curry On is a new conference focused on the <b>intersection of emerging languages and emerging challenges in industry</b> (e.g. big data or security), as well as new ideas and paradigms in software development.
      <br/><br/>
      Curry On also seeks to act as a conduit for ferrying understanding and ideas back and forth between industry and academic programming languages, software engineering, and systems research communities (amongst others).
    </div>
    <div class="col-md-4 about">
      Curry On is a rare event where academic minds responsible for concepts and tools now invaluable to everyday software development – like functional programming, or generics in Java – collide with the movers and shakers in industry that are building next-generation systems and developing software engineering practices central to our entire industry.
      <br/><br/>
      Curry On will be held in a different European city year-to-year, and it will always be co-located with one of the top academic conferences in programming languages. This year, it's co-located with <a href="http://2016.ecoop.org/">ECOOP</a>.
    </div>
    <div class="col-md-2"></div>
   </div>
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8 about">
       <br/>
       <b>Join us for two days of fruitful and mind-altering ideas and discussions, and maybe a few beers.</b>
     </div>
     <div class="col-md-2"></div>
   </div>
  </div>
  <div class="pad-bottom">&nbsp;</div>
</div>

<div class="reddish-orange-stripe">
  <div class="container centered">
   <div class="pad-top">&nbsp;</div>
   <div class="call-ends" style="color: #ffffff;">Atypical?</div>
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 atypical">
      <div class="our-goal">Our goal:</div>
      <div class="biggish"><span class="purple biggen">Bring industry and academia together to have a conversation.</span></div>
      <div class="our-goal">But...</div>
      <div class="biggish"><span class="purple biggen">One speaker addressing hundreds of people is hardly a conversation.</span></div>
      <div class="big-white-vinyl centered"><span style="font-size: 44px;">So, let's change that.</span></div>
      <div class="our-goal">Introducing</div>
      <div class="call-ends" style="color: #fdaa40;">Chess-Timer talks</div>
      <div class="chess-timer-text">
        Chess-timer talks are our unusual solution to making tech conferences a more interactive, more fun, and better place for learning and discussions.
        <br><br>
        Speakers who choose to give a chess-timer talk are allowed 20 minutes of solo speaking time, and 20 minutes of discussion time. A Curry On representative operates a chess-timer during the presentation, switching between solo + discussion time budgets. When an audience member interrupts the talk to ask a question, for example, we switch the timer to deduct from discussion time.
        <br><br>
        Curry On will feature a limited number of chess-timer sessions, meaning that a majority of talks will still be standard conference talks.
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  </div>
  <div class="pad-bottom">&nbsp;</div>
</div>

<div class="purple-stripe">
  <div class="container">
    <!-- <div class="title centered">Keynotes</div> -->
    <div class="big-white-italic centered">
      <span class="light-orange">Two</span> days, <span class="light-orange">two</span> tracks.
      <br/><!-- <br/><img src="{{ site.baseurl }}/resources/img/two-tracks.png"/><br/> -->
      <span style="font-weight: 800; font-size: 44px;"><span class="light-orange">Four</span> exciting keynotes</span>
    </div>
    <div class="row">
      <div class="col-md-3 centered">
        <div class="circular daveherman"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://calculist.org/">Dave Herman</a></a></span><br/>
        <span class="keynote-affiliation">Mozilla</span><br/>
        <span class="keynote-known-for">Rust</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular davidnolen"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://swannodette.github.io/">David Nolen</a></span><br/>
        <span class="keynote-affiliation">Cognitect</span><br/>
        <span class="keynote-known-for">ClojureScript</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular matthias"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://www.ccs.neu.edu/home/matthias/">Matthias Felleisen</a></span><br/>
        <span class="keynote-affiliation">Northeastern University</span><br/>
        <span class="keynote-known-for">Racket</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular larry"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://www.wall.org/~larry/">Larry Wall</a></span><br/>
        <span class="keynote-known-for">Perl</span>
      </div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>

    <!-- Join designers of exciting emerging languages, popular languages, emerging paradigms and more. Add your voice to the conversation. -->

<div class="purple-stripe">
  <div class="container">
    <div class="big-white-italic centered" style="font-weight: 700; font-size: 38px;">
      and many more influential speakers!
    </div>
    <div class="row">
      <div class="col-md-1 centered"></div>
      <div class="col-md-2 centered">
        <div class="circular peterohearn"></div>
        <span class="gray-text centered speaker"><a href="http://www0.cs.ucl.ac.uk/staff/p.ohearn/">Peter O'Hearn</a></span><br/>
        <span class="keynote-affiliation">Facebook</span><br/>
        <span class="keynote-known-for">Separation Logic</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular manuel"></div>
        <span class="gray-text centered speaker"><a href="http://www.cse.unsw.edu.au/~chak/">Manuel Chakravarty</a></span><br/>
        <span class="keynote-affiliation">UNSW</span><br/>
        <span class="keynote-known-for">Swift</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular jamesnoble"></div>
        <span class="gray-text centered speaker"><a href="http://homepages.ecs.vuw.ac.nz/~kjx/">James Noble</a></span><br/>
        <span class="keynote-affiliation">Victoria University of Wellington</span><br/>
        <span class="keynote-known-for">Grace Language</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular cristinac"></div>
        <span class="gray-text centered speaker"><a href="https://labs.oracle.com/pls/apex/f?p=labs:bio:0:21">Cristina Cifuentes</a></span><br/>
        <span class="keynote-affiliation">Oracle</span><br/>
        <span class="keynote-known-for">Security Analytics</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular kaspar"></div>
        <span class="gray-text centered speaker"><a href="https://plus.google.com/+KasperLund">Kasper Lund</a></span><br/>
        <span class="keynote-affiliation">Google</span><br/>
        <span class="keynote-known-for">Dart</span>
      </div>
      <div class="col-md-1 centered"></div>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
      <div class="col-md-1 centered"></div>
      <div class="col-md-2 centered">
        <div class="circular michael"></div>
        <span class="gray-text centered speaker"><a href="http://www.deinprogramm.de/sperber/">Michael Sperber</a></span><br/>
        <span class="keynote-affiliation">Active Group</span><br/>
        <span class="keynote-known-for">Functional Nomad</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular ulfar"></div>
        <span class="gray-text centered speaker"><a href="http://research.google.com/pubs/ulfar.html">Úlfar Erlingsson</a></span><br/>
        <span class="keynote-affiliation">Google</span><br/>
        <span class="keynote-known-for">Security + Languages </span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular kathi"></div>
        <span class="gray-text centered speaker"><a href="http://web.cs.wpi.edu/~kfisler/">Kathi Fisler</a></span><br/>
        <span class="keynote-affiliation">WPI</span><br/>
        <span class="keynote-known-for">Languages + Learning</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular jaroslav"></div>
        <span class="gray-text centered speaker"><a href="http://wiki.apidesign.org/wiki/Main_Page">Jaroslav Tulach</a></span><br/>
        <span class="keynote-affiliation">OracleLabs</span><br/>
        <span class="keynote-known-for">Graal/Truffle</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular sean"></div>
        <span class="gray-text centered speaker"><a href="http://www.research.microsoft.com/jump/116865">Sean McDirmid</a></span><br/>
        <span class="keynote-affiliation">Microsoft Research</span><br/>
        <span class="keynote-known-for">Live Programming Languages</span>
      </div>
      <div class="col-md-1 centered"></div>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
      <div class="col-md-1 centered"></div>
      <div class="col-md-2 centered">
        <!-- <div class="circular michael"></div>
        <span class="gray-text centered speaker"><a href="http://www.deinprogramm.de/sperber/">Michael Sperber</a></span><br/>
        <span class="keynote-affiliation">Active Group</span><br/>
        <span class="keynote-known-for">Functional Nomad</span> -->
      </div>
      <div class="col-md-2 centered">
        <div class="circular crista"></div>
        <span class="gray-text centered speaker"><a href="http://www.ics.uci.edu/~lopes/">Crista Lopes</a></span><br/>
        <span class="keynote-affiliation">University of California Irvine</span><br/>
        <span class="keynote-known-for">Programming Style</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular yuan"></div>
        <span class="gray-text centered speaker"><a href="">Yuan Yu</a></span><br/>
        <span class="keynote-affiliation">Google</span><br/>
        <span class="keynote-known-for">TensorFlow</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular francesco"></div>
        <span class="gray-text centered speaker"><a href="">Francesco Logozzo</a></span><br/>
        <span class="keynote-affiliation">Facebook</span><br/>
        <span class="keynote-known-for">Static Analysis at Scale</span>
      </div>
      <div class="col-md-2 centered">
        <!-- <div class="circular sean"></div>
        <span class="gray-text centered speaker"><a href="http://www.research.microsoft.com/jump/116865">Sean McDirmid</a></span><br/>
        <span class="keynote-affiliation">Microsoft Research</span><br/>
        <span class="keynote-known-for">Live Programming Languages</span> -->
      </div>
      <div class="col-md-1 centered"></div>
    </div>
    <div class="row" style="height: 40px;"></div>
    <div class="row">
      <div class="col-md-5 centered"></div>
      <div class="col-md-2 centered">
        <div class="circular silhouette"></div>
        <span class="gray-text centered speaker"><a href="">Your Name Here</a></span><br/>
        <!-- <span class="keynote-affiliation">INRIA</span><br/> -->
        <!-- <span class="keynote-known-for">Coccinelle</span> -->
      </div>
      <div class="col-md-5 centered"></div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>

<div class="reddish-orange-stripe">
  <div class="container centered">
    <div class="hand-drawn"><img src="{{ site.baseurl }}/resources/img/hand-drawn.png"></div>
    <div class="tagline">
      Add your voice to the conversation.
    </div>
    <div class="subtagline" style="margin-bottom: 20px; color: #fff;">
      Join designers of exciting emerging languages, popular languages,
      <br/>emerging paradigms and more.
    </div>
    <a href="{{ site.baseurl }}/2016/call-for-presentations.html" class="btn btn-outline-inverse btn-lg">Call for Presentations</a>
    <div class="call-ends">Deadline: April 8<sup>th</sup></div>
    <div class="pad-bottom"></div>
  </div>
</div>

    <!-- Interested in joining us? If -->
<div class="purple-stripe">
  <div class="container centered">
    <div class="tagline">Interested in attending?</div><br/>
    <div class="subtagline" style="font-weight: 300; color: #fff; margin-bottom: 10px;">Help us make sure we book enough space to accommodate everyone.
    <div class="fyi white">
      Leave your name and email address so we can let you know when tickets become available.
      <br/>Fret not, we'll use your email address only to contact you to inform you when tickets go on sale.
    </div>
    <div class="fyi gray">
      Tickets cost &euro; 450, and will be good for all of Curry On, all <a href="http://2016.ecoop.org/">ECOOP workshops</a>, and
      <br/>the Curry On party. Heads up; the number of available tickets is limited due to size of the venue, and we expect them to sell out quickly.
    </div>
    <br/>
    {% include mailchimp.html %}
    <div class="pad-bottom"></div>
  </div>
</div>

<div class="reddish-orange-stripe">
  <div class="pad-top">&nbsp;</div>
  <br/><br/>
  <div class="container centered sponsorship">
    <div class="wanna-help" style="margin-bottom: 18px;">Wanna help?</div>
    <a href="{{ site.baseurl }}/2016/sponsorship.html" class="btn btn-outline-inverse btn-lg">Sponsorship Opportunities</a>
    <div class="pad-bottom"></div>
  </div>
  <br/>
</div>

<div class="purple-stripe">
  <div class="container">
    <div class="organizers-title centered">
      Organizers
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-2"><div class="circular heather"></div><div class="white-text centered organizer"><a href="http://heather.miller.am">Heather Miller</a><br/>EPFL<br/><span class="organizer-chair"></span></div></div>
      <div class="col-md-2"><div class="circular jan"></div><div class="white-text centered organizer"><a href="http://janvitek.github.io/">Jan Vitek</a><br/>Northeastern University<br/><span class="organizer-chair"></span></div></div>
      <div class="col-md-2"><div class="circular chris"></div><div class="white-text centered organizer"><a href="http://christophermeiklejohn.com/">Christopher Meiklejohn</a><br/>UCL<br/><span class="organizer-chair"></span></div></div>
      <div class="col-md-3"></div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>
