<tr class="tr-keynote-bg">
  <td class="time">
    {{ include.session.time }}
    <div class="td-room">
      <span class="light">Keynote Room:</span>
      </br>
      {{ include.session.room }}
    </div>
  </td>
  <td class="pad centered-div" colspan="2">
    <div class="circular {{ include.session.speaker.id }}" style="float: left; margin-right: 20px; margin-bottom: 20px;"></div>
    <div class="td-keynote"><span class="rounded-label">keynote</span></div>
    {% include 2017-program-session.html session=include.session %}
  </td>
</tr>
