<div class="splash">
  <div class="container">
    <div class="looking-for">Looking for
      {% for year in site.data["2017-settings"].previous_editions %}
      <a href="{{ site.baseurl }}/{{ year }}">Curry On {{ year }}</a>
      {% if forloop.last == false %} or {% endif %}
      {% endfor %}
    <div class="curry-on-logo"></div>
    <div class="curry-on-wrap">
      <span class="curry-on">Curry On</span><br/>
      <span class="rome">{{ site.data["2017-settings"].city }}!</span>
      <div class="dates">{{ site.data["2017-settings"].conference_dates }}</div>
    </div>
 </div>
</div>
