{% if include.session.chess %}
<div class="td-keynote">
  <span class="rounded-label">chess timer talk</span>
</div>
{% endif %}
<div class="td-title">
  <a href="{{ site.baseurl }}/2017/sessions/{{ include.session.title | downcase | replace: " ","-" }}.html">{{ include.session.title }}</a>
</div>
<div class="td-speaker">{{ include.session.speaker.name }}</div>
<div class="td-affiliation">{{ include.session.speaker.affiliation }}</div>
{% if include.session.twitter %}
<div class="td-twitter">
  <a href="https://twitter.com/{{ include.session.speaker.twitter }}">@{{ include.session.speaker.twitter }}</a>
</div>
{% endif %}
{% if include.session.video %}
<div class="td-video-link">
  <a href="{{ include.session.vide }}">
    <span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch
  </a>
</div>
{% endif %}
<div class="td-tags">
  {% for tag in include.session.tags %}
  <span class="rounded-dark-blue">{{ tag }}</span>
  {% endfor %}
</div>
