{% assign settings = site.data["2018"] %}
{% assign talk = settings.talks | where:"title", include.session.talk | first %}
<tr class="tr-dark pad">
  <td class="time">{{ include.session.time }}</td>
  <td class="pad" colspan="3">
    <span class="td-title">
      {% if talk.url %}<a href="{{ talk.url }}">{{ talk.title }}</a>
      {% else %}
      {{ talk.title }}
      {% endif %}
      </span>{% if talk.subtitle %}, {{ talk.subtitle }}{% endif %}
    {% if talk.speaker.name %}
    <br/>
    {{ talk.speaker.name }}
    {% endif %}
    {% if talk.video %}
    <div class="td-video-link">
      <a href="{{ talk.video }}">
        <span class="fa fa-youtube-play" style="font-size: 18px;"></span>&nbsp;watch
      </a>
    </div>
    {% endif %}
  </td>
</tr>
