<div class="col-md-3 centered">
  <br/>
  <div class="circular {{ include.keynote.speaker.id }}"></div>
  <span class="gray-text centered keynote-speaker">
    {% if include.keynote.url %}
      <a href="{{ include.keynote.url }}">{{ include.keynote.speaker.name }}</a>
    {% else %}
      <span style="color: #6cb1dd; font-weight: 800;">{{ include.keynote.speaker.name }}</span>
    {% endif %}
  </span>
  <br/>
  {% if include.keynote.speaker.affiliation %}
  <span class="keynote-affiliation">{{ include.keynote.speaker.affiliation }}</span>
  <br/>
  {% endif %}
  <!-- <span class="keynote-known-for">{{ include.keynote.speaker.known-for }}</span> -->
</div>
