{% assign settings = site.data["2019"] %}
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-3"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/resources/img/curry-on-logo.png"></a></div>
          <div class="col-md-2">
            <ul>
              <li><h5>Conference</h5></li>
              <li><a href="{{ site.baseurl }}/2019/call-for-presentations.html">Call for Presentations</a></li>
              <li><a href="{{ site.baseurl }}/2019/sponsorship.html">Sponsorship</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li><h5>Attending</h5></li>
                <li><a href="{{ site.baseurl }}/2019/code-of-conduct.html">Code of Conduct</a></li>
                <li><a href="https://2019.ecoop.org/venue/ecoop-issta-2019-venue">Venue</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <ul>
              <li><h5>Past Editions</h5></li>
              {% for year in settings.previous_editions %}
              <li><a href="{{ site.baseurl }}/{{ year }}">Curry On {{ year }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="copyright">
              <b>Contact:</b>
              <br/><i>(Please write to all of us.)</i>
              <br/>Heather Miller – <a href="mailto:heather@curry-on.org">heather@curry-on.org</a>
              <br>Jan Vitek – <a href="mailto:jan@curry-on.org">jan@curry-on.org</a>
              <br/>Torsten Layda – <a href="mailto:torsten@curry-on.org">torsten@curry-on.org</a>
            </div>
            <div class="scala-logo-footer">
              <a href="https://twitter.com/curry_on_conf"><img src="{{ site.baseurl }}/resources/img/twitter-logo-white.png"></a>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div> <!-- container -->
    </div>
  </body>
</html>
