{% assign settings = site.data["2019"] %}
<div class="splash">
  <div class="container">
    <div class="curry-on-logo"></div>
    <div class="curry-on-wrap">
      <span class="curry-on">Curry On</span><br/>
      <span class="rome">{{ settings.city }}!</span>
      <div class="dates">{{ settings.conference_dates }}</div>
    </div>
 </div>
</div>

<div class="purple-stripe-splash">
  <div class="container centered">
    <div class="speech-bubble-wrap">
      <div class="speech-bubble">
        <p class="triangle">this is a triangle</p>
        <div class="speech-text">
          An unusual <span class="reddish-orange normal">non-profit</span> conference focused on <span class="white normal">programming languages</span> <span class="amp">&amp;</span> <span class="white normal">emerging challenges in industry</span> co-located with <a href="https://2019.ecoop.org/">ECOOP</a>.
        </div>
      </div>
    </div>
  </div>
</div>
