    <div class="container">
      <div class="contact">
<!--         <b>Contacts</b>: <a href="mailto:heather.miller@epfl.ch">Heather Miller</a>, <a href="mailto:philipp.haller@typesafe.com">Philipp Haller</a>
      </div>
      <div class="copyright">
        <a style="float: left; margin-right: 8px;" href="http://www.epfl.ch"><img src="{{ site.baseurl }}/resources/img/epfl-logo.png" alt="EPFL logo" /></a>
        <p style="float: left;"><br/>Copyright &copy; 2002-<span class="current-year"></span> École Polytechnique Fédérale de Lausanne
        (EPFL)<br/> Lausanne, Switzerland</p>
      </div>
      <div class="scala-logo-footer">
        <a href="http://scala-lang.org"><img src="{{ site.baseurl }}/resources/img/scala-logo-red-footer.png" alt="Scala footer logo" /></a> -->
      </div>
    </div> <!-- container -->
  </body>
</html>
