<div class="blue-stripe-splash">
  <div class="container">
  </div>
</div>

<div class="blue-stripe">
  <div class="container centered">
    <div class="speech-bubble-wrap">
      <div class="speech-bubble">
        <p class="triangle">this is a triangle</p>
        <div class="speech-text">
          A new and unusual <span class="green">non-profit</span> conference focused on <br/><span class="white normal">programming languages</span> <span class="amp">&amp;</span> <span class="white normal">emerging challenges in industry</span>.
        </div>
      </div>
    </div>
    <div class="tagline">
      Academia and industry <span class="green">need to have a talk</span>.
    </div>
    <div class="subtagline">
      Or rather, they just need to talk in general.
    </div>
  </div>
</div>

<div class="turquoise-stripe">
  <div class="container">
   <div class="pad-top">&nbsp;</div>
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 about">
      Curry On is a new conference focused on the <b>intersection of emerging languages and emerging challenges in industry</b> (e.g. big data or security), as well as new ideas and paradigms in software development.
      <br/><br/>
      Curry On also seeks to act as a conduit for ferrying understanding and ideas back and forth between industry and academic programming languages, software engineering, and systems research communities (amongst others).
    </div>
    <div class="col-md-4 about">
      Curry On is a rare event where academic minds responsible for concepts and tools now invaluable to everyday software development – like functional programming, or generics in Java – collide with the movers and shakers in industry that are building next-generation systems and developing software engineering practices central to our entire industry.
      <br/><br/>
      Curry On will be held in a different European city year-to-year, and it will always be co-located with one of the top academic conferences in programming languages. This year, it's co-located with <a href="http://2015.ecoop.org/">ECOOP</a>.
    </div>
    <div class="col-md-2"></div>
   </div>
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8 about">
       <br/>
       <b>Join us for two days of fruitful and mind-altering ideas and discussions, and maybe a few beers.</b>
     </div>
     <div class="col-md-2"></div>
   </div>
  </div>
  <div class="pad-bottom">&nbsp;</div>
</div>

<div class="blue-stripe">
  <div class="container">
    <!-- <div class="title centered">Keynotes</div> -->
    <div class="big-white-italic centered">
      <span class="turquoise">Two</span> days, <span class="turquoise">two</span> tracks.
      <br/><!-- <br/><img src="{{ site.baseurl }}/resources/img/two-tracks.png"/><br/> -->
      <span style="font-weight: 800; font-size: 44px;"><span class="turquoise">Four</span> exciting keynotes</span>
    </div>
    <div class="row">
      <div class="col-md-3 centered">
        <div class="circular gilad"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://bracha.org/Site/Home.html">Gilad Bracha</a></span><br/>
        <span class="keynote-affiliation">Google</span><br/>
        <span class="keynote-known-for">Dart, Java Generics</span>
        <!-- Programs Wanted: Dead or Alive -->
      </div>
      <div class="col-md-3 centered">
        <div class="circular brendan"></div>
        <span class="gray-text centered keynote-speaker"><a href="https://brendaneich.com/">Brendan Eich</a></span><br/>
        <span class="keynote-known-for">Creator of JavaScript</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular jeff-stefan"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://julialang.org/">Jeff Bezanson <span class="amp">&amp;</span> Stefan Karpinski </a></span><br/>
        <span class="keynote-affiliation">MIT</span><br/>
        <span class="keynote-known-for">Creators of Julia Language</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular evan"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://elm-lang.org/">Evan Czaplicki</a></span><br/>
        <span class="keynote-affiliation">Prezi</span><br/>
        <span class="keynote-known-for">Creator of Elm Language</span>
      </div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>

    <!-- Join designers of exciting emerging languages, popular languages, emerging paradigms and more. Add your voice to the conversation. -->

<div class="turquoise-stripe">
  <div class="container">
    <div class="big-white-italic centered" style="font-weight: 700; font-size: 38px;">
      Program
    </div>
    <div class="big-white-italic centered" style="font-weight: 700; font-size: 34px; margin-top: -20px; color: #9CC47C">
      Monday, July 6<sup>th</sup>
    </div>
    <div class="">
      <table class="program centered-div" style="undefined;table-layout: fixed; width: 802px; text-alignment: left;">
      <colgroup>
      <col style="width: 200px">
      <col style="width: 500px">
      <col style="width: 500px">
      </colgroup>
        <tr>
          <th class="tg-031e"></th>
          <th class="tg-031e">Room 1</th>
          <th class="tg-031e">Room 2</th>
        </tr>
        <tr class="tr-bottom">
          <td class="time">8:45-9:00</td>
          <td class="pad" colspan="2" class="tg-031e">
            <div class="td-title">Curry On opening remarks</div>
            Jan Vitek and Heather Miller
          </td>
        </tr>
        <tr class="tr-green">
          <td class="time">9:00-9:45</td>
          <td class="pad centered-div" colspan="2">
            <div class="circular gilad" style="float: left; margin-right: 20px; margin-bottom: 20px;"></div>
            <div class="td-keynote"><span class="rounded-orange">keynote</span></div>
            <div class="td-title">Programs Wanted: Dead or Alive</div>
            <div class="td-speaker">Gilad Bracha</div>
            <div class="td-affiliation" style="color: #042630;">Google</div>
            <div class="td-twitter"><a href="https://twitter.com/Gilad_Bracha">@Gilad_Bracha</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">Dart language</span></div>
          </td>
        </tr>
        <tr class="tr-dark">
          <td class="time">9:45-10:05</td>
          <td class="pad" colspan="2">
            <span class="td-title">Coffee break</span>, served outside of lecture hall
          </td>
        </tr>
        <tr class="tr-bottom">
          <td class="time">10:05-10:45</td>
          <td class="pad right">
            <div class="td-title">Kotlin: Challenges in language design</div>
            <div class="td-speaker">Andrey Breslav</div>
            <div class="td-affiliation">IntelliJ</div>
            <div class="td-twitter"><a href="https://twitter.com/abreslav">@abreslav</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">Kotlin language</span><span class="rounded-dark-blue">JVM</span><span class="rounded-dark-blue">language design</span></div>
          </td>
          <td class="pad">
            <div class="td-title">Akka Typed: Between Session Types and the Actor Model</div>
            <div class="td-speaker">Roland Kuhn</div>
            <div class="td-affiliation">Typesafe</div>
            <div class="td-twitter"><a href="https://twitter.com/rolandkuhn">@rolandkuhn</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">concurrency</span><span class="rounded-dark-blue">actor model</span><span class="rounded-dark-blue">Scala language</span></div>
          </td>
        </tr>
        <tr class="tr-bottom pad">
          <td class="time">10:55-11:35</td>
          <td class="pad right">
            <div class="td-title">Coccinelle for the Working Programmer</div>
            <div class="td-speaker">Julia Lawall</div>
            <div class="td-affiliation">Inria/LIP6/UPMC/Sorbonne University</div>
            <div class="td-tags"><span class="rounded-dark-blue">bug-finding</span><span class="rounded-dark-blue">C language</span></div>
          </td>
          <td class="pad">
            <div class="td-title">The Swiss army knife of Generic Programming: Shapeless's type class derivation in action</div>
            <div class="td-speaker">Miles Sabin</div>
            <div class="td-affiliation">Underscore LLP</div>
            <div class="td-twitter"><a href="https://twitter.com/milessabin">@milessabin</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">types</span><span class="rounded-dark-blue">Scala language</span></div>
          </td>
        </tr>
        <tr class="tr-bottom pad">
          <td class="time right">11:45-12:25</td>
          <td class="pad right">
            <div class="td-title">Encapsulating replication, high concurrency and consistency with CRDTs</div>
            <div class="td-speaker">Marc Shapiro</div>
            <div class="td-affiliation">Inria/LIP6</div>
            <div class="td-tags"><span class="rounded-dark-blue">concurrency</span><span class="rounded-dark-blue">distribution</span><span class="rounded-dark-blue">eventual consistency</span></div>
          </td>
          <td class="pad">
            <div class="td-title">Crystal: a programming language for humans and computers</div>
            <div class="td-speaker">Ary Borenszweig & Juan Wajnerman</div>
            <div class="td-affiliation">Manas</div>
            <div class="td-twitter"><a href="https://twitter.com/asterite">@asterite</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">Crystal language</span><span class="rounded-dark-blue">LLVM</span><span class="rounded-dark-blue">language design</span></div>
          </td>
        </tr>  
        <tr class="tr-dark pad">
          <td class="time">12:35-13:50</td>
          <td class="pad" colspan="2">
            <span class="td-title">Lunch</span>, location TBA
          </td>
        </tr>
        <tr class="tr-bottom pad">
          <td class="time right">13:50-14:30</td>
          <td class="pad right">
            <div class="td-title">Empowering Spreadsheet Users with Probabilistic Programs</div>
            <div class="td-speaker">Andy Gordon</div>
            <div class="td-affiliation">Microsoft Research</div>
            <div class="td-tags"><span class="rounded-dark-blue">probabilistic programming</span><span class="rounded-dark-blue">big data</span></div>
          </td>
          <td class="pad">
            <div class="td-title">Speed at a Price: The Evolution of V8 and the Challenges of Research in a Billion User VM</div>
            <div class="td-speaker">Ben Titzer</div>
            <div class="td-affiliation">Google</div>
            <div class="td-tags"><span class="rounded-dark-blue">VMs</span><span class="rounded-dark-blue">JavaScript language</span><span class="rounded-dark-blue">hackers' delight</span></div>
          </td>
        </tr> 
        <tr class="">
          <td class="time right">14:40-15:20</td>
          <td class="pad right">
            <div class="td-title">It Probably Works</div>
            <div class="td-speaker">Tyler McMullen</div>
            <div class="td-affiliation">Fastly</div>
            <div class="td-twitter"><a href="https://twitter.com/tbmcmullen">@tbmcmullen</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">probabilistic algorithms</span></div>
          </td>
          <td class="pad">
            <div class="td-title">Everything old is new again: Quoted domain specific languages</div>
            <div class="td-speaker">Philip Wadler</div>
            <div class="td-affiliation">University of Edinburgh</div>
            <div class="td-twitter"><a href="https://twitter.com/philipwadler">@philipwadler</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">domain specific langauges</span><span class="rounded-dark-blue">language design</span></div>
          </td>
        </tr> 
        <tr class="tr-dark">
          <td class="time">15:40-16:10</td>
          <td class="pad" colspan="2">
            <span class="td-title">Coffee break</span>, served outside of lecture hall
          </td>
        </tr>  
        <tr class="tr-bottom">
          <td class="time right">16:10-16:50</td>
          <td class="pad right">
            <div class="td-title">Java @ Twitter - a bird's eye view</div>
            <div class="td-speaker">Tony Printezis</div>
            <div class="td-affiliation">Twitter</div>
            <div class="td-twitter"><a href="https://twitter.com/tonyprintezis">@tonyprintezis</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">JVM</span><span class="rounded-dark-blue">Java language</span></div>
          </td>
          <td class="pad">
            <div class="td-title">Servant: a type-level DSL for web APIs</div>
            <div class="td-speaker">Julian Arni</div>
            <div class="td-affiliation">Zalora</div>
            <div class="td-tags"><span class="rounded-dark-blue">web services</span><span class="rounded-dark-blue">types</span><span class="rounded-dark-blue">domain specific languages</span><span class="rounded-dark-blue">Haskell language</span></div>
          </td>
        </tr> 
        <tr class="tr-bottom">
          <td class="time right">17:00-17:40</td>
          <td class="pad right">
            <div class="td-title">PureScript</div>
            <div class="td-speaker">Bodil Stokke</div>
            <div class="td-twitter"><a href="https://twitter.com/bodil">@bodil</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">PureScript language</span><span class="rounded-dark-blue">functional programming</span></div>
          </td>
          <td class="pad">
            <div class="td-title">Making Embedded Domain Specific Languages a Practical Reality</div>
            <div class="td-speaker">Jurriaan Hage</div>
            <div class="td-affiliation">Utrecht University</div>
            <div class="td-tags"><span class="rounded-dark-blue">domain specific languages</span><span class="rounded-dark-blue">Haskell language</span></div>
          </td>
        </tr>
        <tr class="tr-green">
          <td class="time">17:50-18:40</td>
          <td class="pad centered-div" colspan="2">
            <div class="circular jeff-stefan" style="float: left; margin-right: 20px; margin-bottom: 20px;"></div>
            <div class="td-keynote"><span class="rounded-orange">keynote</span></div>
            <div class="td-title">Julia</div>
            <div class="td-speaker">Jeff Bezanson & Stefan Karpinski</div>
            <div class="td-affiliation" style="color: #042630;">MIT</div>
            <div class="td-twitter"><a href="https://twitter.com/jeffbezanson">@jeffbezanson</a> & <a href="https://twitter.com/stefankarpinski">@stefankarpinski</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">Julia language</span><span class="rounded-dark-blue">big data</span></div>
          </td>
        </tr> 
        <tr class="tr-dark">
          <td class="time">19:00-22:00</td>
          <td class="pad" colspan="2">
            <span class="td-title">Curry On Party!</span>, location TBA
          </td>
        </tr>        
      </table>
    </div>

    <br/><br/><br/><br/>
    <div class="big-white-italic centered" style="font-weight: 700; font-size: 34px; color: #9CC47C">
      Tuesday, July 7<sup>th</sup>
    </div>
    <div class="">
      <table class="program centered-div" style="undefined;table-layout: fixed; width: 802px; text-alignment: left;">
      <colgroup>
      <col style="width: 200px">
      <col style="width: 500px">
      <col style="width: 500px">
      </colgroup>
        <tr>
          <th class="tg-031e"></th>
          <th class="tg-031e">Room 1</th>
          <th class="tg-031e">Room 2</th>
        </tr>
        <tr class="tr-green">
          <td class="time">9:00-9:45</td>
          <td class="pad centered-div" colspan="2">
            <div class="circular brendan" style="float: left; margin-right: 20px; margin-bottom: 20px;"></div>
            <div class="td-keynote"><span class="rounded-orange">keynote</span></div>
            <div class="td-title">JS @ 20</div>
            <div class="td-speaker">Brendan Eich</div>
            <div class="td-twitter"><a href="https://twitter.com/BrendanEich">@BrendanEich</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">JavaScript language</span><span class="rounded-dark-blue">language design</span></div>
          </td>
        </tr>
        <tr class="tr-dark">
          <td class="time">9:45-10:05</td>
          <td class="pad" colspan="2">
            <span class="td-title">Coffee break</span>, served outside of lecture hall
          </td>
        </tr>
        <tr class="tr-bottom">
          <td class="time">10:05-10:45</td>
          <td class="pad right">
            <div class="td-title">Bits of Advice for VM Writers</div>
            <div class="td-speaker">Cliff Click</div>
            <div class="td-affiliation">0xdata</div>
            <div class="td-tags"><span class="rounded-dark-blue">VMs</span><span class="rounded-dark-blue">JVM</span><span class="rounded-dark-blue">hackers' delight</span></div>
          </td>
          <td class="pad">
            <div class="td-title">Some of the Things That Macros Do</div>
            <div class="td-speaker">Zach Tellman</div>
            <div class="td-affiliation">Factual</div>
            <div class="td-twitter"><a href="https://twitter.com/ztellman">@ztellman</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">macros</span><span class="rounded-dark-blue">Clojure language</span></div>
          </td>
        </tr>
        <tr class="tr-bottom pad">
          <td class="time">10:55-11:35</td>
          <td class="pad right">
            <div class="td-title">Data Manipulation using Programming By Examples and Natural Language</div>
            <div class="td-speaker">Sumit Gulwani</div>
            <div class="td-affiliation">Microsoft Research</div>
            <div class="td-tags"><span class="rounded-dark-blue">Excel language</span><span class="rounded-dark-blue">big data</span></div>
          </td>
          <td class="pad">
            <div class="td-title">QuickCheck: from invention to product</div>
            <div class="td-speaker">Thomas Arts</div>
            <div class="td-affiliation">Quviq</div>
            <div class="td-twitter"><a href="https://twitter.com/quviq">@quviq</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">static analysis</span><span class="rounded-dark-blue">testing</span><span class="rounded-dark-blue">Haskell language</span><span class="rounded-dark-blue">C language</span></div>
          </td>
        </tr>
        <tr class="tr-bottom pad">
          <td class="time right">11:45-12:25</td>
          <td class="pad right">
            <div class="td-title">How to be a good host: miniKanren as a case study</div>
            <div class="td-speaker">Dan Friedman & Jason Hemann</div>
            <div class="td-affiliation">Indiana University</div>
            <div class="td-twitter"><a href="https://twitter.com/dfried00">@dfried00</a> & <a href="https://twitter.com/jhemann">@jhemann</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">logic programming</span><span class="rounded-dark-blue">domain specific languages</span></div>
          </td>
          <td class="pad">
            <div class="td-title">Pyro – Typing Python in Python</div>
            <div class="td-speaker">Alex Muscar</div>
            <div class="td-affiliation">Lyst</div>
            <div class="td-tags"><span class="rounded-dark-blue">types</span><span class="rounded-dark-blue">Python language</span></div>
          </td>
        </tr>  
        <tr class="tr-dark pad">
          <td class="time">12:35-13:50</td>
          <td class="pad" colspan="2">
            <span class="td-title">Lunch</span>, location TBA
          </td>
        </tr>
        <tr class="tr-bottom pad">
          <td class="time right">13:50-14:30</td>
          <td class="pad right">
            <div class="td-title">What - if anything - have we learned from C++?</div>
            <div class="td-speaker">Bjarne Stroustrup</div>
            <div class="td-affiliation">Morgan Stanley</div>
            <div class="td-tags"><span class="rounded-dark-blue">C++ language</span></div>
          </td>
          <td class="pad">
            <div class="td-title">Coding for Types: The Universe Pattern in Idris</div>
            <div class="td-speaker">David Christiansen</div>
            <div class="td-affiliation">IT University of Copenhagen</div>
            <div class="td-twitter"><a href="https://twitter.com/d_christiansen">@d_christiansen</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">dependent types</span><span class="rounded-dark-blue">Idris language</span></div>
          </td>
        </tr> 
        <tr class="">
          <td class="time right">14:40-15:20</td>
          <td class="pad right">
            <div class="td-title">LLVM for JavaScript</div>
            <div class="td-speaker">Filip Pizlo</div>
            <div class="td-affiliation">Apple</div>
            <div class="td-twitter"><a href="https://twitter.com/filpizlo">@filpizlo</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">JavaScript language</span><span class="rounded-dark-blue">VMs</span><span class="rounded-dark-blue">hackers' delight</span></div>
          </td>
          <td class="pad">
            <div class="td-title">Structured Synchronous Programming</div>
            <div class="td-speaker">Francisco Sant'Anna</div>
            <div class="td-affiliation">PUC-Rio, Brazil</div>
            <div class="td-twitter"><a href="https://twitter.com/fsantanna_puc">@fsantanna_puc</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">Céu language</span><span class="rounded-dark-blue">language design</span><span class="rounded-dark-blue">structured programming</span></div>
          </td>
        </tr> 
        <tr class="tr-dark">
          <td class="time">15:40-16:10</td>
          <td class="pad" colspan="2">
            <span class="td-title">Coffee break</span>, served outside of lecture hall
          </td>
        </tr>  
        <tr class="tr-bottom">
          <td class="time right">16:10-16:50</td>
          <td class="pad right">
            <div class="td-title">Tern: Practical Type Inference for JavaScript Editing</div>
            <div class="td-speaker">Marijn Haverbeke</div>
            <div class="td-tags"><span class="rounded-dark-blue">static analysis</span><span class="rounded-dark-blue">JavaScript language</span></div>
          </td>
          <td class="pad">
            <div class="td-title">Science Imitates Code</div>
            <div class="td-speaker">Joshua Ballanco</div>
            <div class="td-affiliation">Manhattan Metric</div>
            <div class="td-twitter"><a href="https://twitter.com/manhattanmetric">@manhattanmetric</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">software design</span><span class="rounded-dark-blue">science</span><span class="rounded-dark-blue">the future</span></div>
          </td>
        </tr> 
        <tr class="tr-bottom">
          <td class="time right">17:00-17:40</td>
          <td class="pad right">
            <div class="td-title">Rust: A Type System You Didn't Know You Wanted</div>
            <div class="td-speaker">Felix Klock</div>
            <div class="td-affiliation">Mozilla</div>
            <div class="td-twitter"><a href="https://twitter.com/pnkfelix">@pnkfelix</a></div>          
            <div class="td-tags"><span class="rounded-dark-blue">Rust language</span><span class="rounded-dark-blue">types</span><span class="rounded-dark-blue">language design</span></div>
          </td>
          <td class="pad">
            <div class="td-title">NetBeans HTML for Java APIs</div>
            <div class="td-speaker">Anton Epple</div>
            <div class="td-affiliation">NetBeans</div>
            <div class="td-twitter"><a href="https://twitter.com/monacotoni">@monacotoni</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">IDEs</span></div>
          </td>
        </tr>
        <tr class="tr-green">
          <td class="time">17:50-18:40</td>
          <td class="pad centered-div" colspan="2">
            <div class="circular evan" style="float: left; margin-right: 20px; margin-bottom: 20px;"></div>
            <div class="td-keynote"><span class="rounded-orange">keynote</span></div>
            <div class="td-title">Elm</div>
            <div class="td-speaker">Evan Czaplicki</div>
            <div class="td-affiliation" style="color: #042630;">Prezi</div>
            <div class="td-twitter"><a href="https://twitter.com/czaplic">@czaplic</a></div>
            <div class="td-tags"><span class="rounded-dark-blue">Elm language</span><span class="rounded-dark-blue">functional reactive programming</span><span class="rounded-dark-blue">front-end</span><span class="rounded-dark-blue">language design</span></div>
          </td>
        </tr>        
      </table>
    </div>

    <div class="pad-bottom"></div>
  </div>
</div>

<div class="turquoise-stripe">
  <div class="container centered">
    <div class="tagline">Tickets go on sale Friday, May 1<sup>st</sup>, at 5pm CEST</div>
    <!-- <div class="call-ends">Tickets go on sale Friday, May 1<sup>st</sup>, at 5pm CEST</div> -->
    
    <div class="subtagline" style="font-weight: 300; color: #073642; margin-bottom: 10px;">Leave your name and email address so we can let you know info as it develops, as well as the precise time tickets become available. </div>
    <div class="fyi dark-blue ">
      Fret not, we'll use your email address only to contact you about tickets once or twice.
    </div>
    <div class="fyi gray">
      (Tickets will cost &euro; 600, and will be good for all of Curry On, <a href="http://2015.ecoop.org/">ECOOP</a>, and
      <br/>other co-located events for the entire week. PS, there will be a student rate too!)
    </div>
    {% include mailchimp.html %}
     <div class="pad-bottom"></div>
   </div>
 </div>

<div class="blue-stripe">
  <div class="pad-top"></div>
  <div class="container centered sponsorship">
    <span class="big-white-italic">We <span class="entypo heart"></span> these folks</span><br/><br/>
    <img src="{{ site.baseurl }}/resources/img/fb.png">
    <br/><br/>
    <a style="border: 0px;" href="http://www.typesafe.com"><img src="{{ site.baseurl }}/resources/img/typesafe.png"></a>
    <br/><br/>
    <img src="{{ site.baseurl }}/resources/img/mozilla.png">
    <br/><br/>
    <img src="{{ site.baseurl }}/resources/img/jetbrains.png">
    <br/><br/>
    <img src="{{ site.baseurl }}/resources/img/google.png">
    <br/><br/>
    <a style="border: 0px;" href="http://underscore.io"><img src="{{ site.baseurl }}/resources/img/underscore.png"></a>
    <br/><br/><br/>
    <div class="wanna-help" style="margin-bottom: 18px;">Wanna help?</div>
    <a href="{{ site.baseurl }}/sponsorship.html" class="btn btn-outline-inverse btn-lg">Sponsorship Opportunities</a>
    <div class="pad-bottom"></div>
  </div>
</div>

<div class="turquoise-stripe">
  <div class="container">
    <div class="organizers-title centered">
      Organizers
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-2"><div class="circular heather"></div><div class="white-text centered speaker"><a href="http://heather.miller.am">Heather Miller</a><br/>EPFL<br/><span class="organizer-chair">(Co-Chair)</span></div></div>
      <div class="col-md-2"><div class="circular jan"></div><div class="white-text centered speaker"><a href="http://janvitek.github.io/">Jan Vitek</a><br/>Northeastern University<br/><span class="organizer-chair">(Co-Chair)</span></div></div>
      <div class="col-md-2"><div class="circular chris"></div><div class="white-text centered speaker"><a href="http://christophermeiklejohn.com/">Christopher Meiklejohn</a><br/>Basho<br/><span class="organizer-chair"></span></div></div>
      <div class="col-md-3"></div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>