<div class="blue-stripe-splash">
  <div class="container">
  </div>
</div>

<div class="blue-stripe">
  <div class="container centered">
    <div class="speech-bubble-wrap">
      <div class="speech-bubble">
        <p class="triangle">this is a triangle</p>
        <div class="speech-text">
          A new and unusual conference focused on <br/><span class="white normal">programming languages</span> <span class="amp">&amp;</span> <span class="white normal">emerging challenges in industry</span>.
        </div>
      </div>
    </div>
    <div class="tagline">
      Academia and industry <span class="green">need to have a talk</span>.
    </div>
    <div class="subtagline">
      Or rather, they just need to talk in general.
    </div>
  </div>
</div>

<div class="turquoise-stripe">
  <div class="container">
   <div class="pad-top">&nbsp;</div>
   <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 about">
      Curry On is a new conference focused on the <b>intersection of emerging languages and emerging challenges in industry</b> (e.g. big data or security), as well as new ideas and paradigms in software development.
      <br/><br/>
      Curry On also seeks to act as a conduit for ferrying understanding and ideas back and forth between industry and academic programming languages, software engineering, and systems research communities (amongst others).
    </div>
    <div class="col-md-4 about">
      Curry On is a rare event where academic minds responsible for concepts and tools now invaluable to everyday software development – like functional programming, or generics in Java – collide with the movers and shakers in industry that are building next-generation systems and developing software engineering practices central to our entire industry.
      <br/><br/>
      Curry On will be held in a different European city year-to-year, and it will always be co-located with one of the top academic conferences in programming languages. This year, it's co-located with <a href="http://2015.ecoop.org/">ECOOP</a>.
    </div>
    <div class="col-md-2"></div>
   </div>
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8 about">
       <br/>
       <b>Join us for two days of fruitful and mind-altering ideas and discussions, and maybe a few beers.</b>
     </div>
     <div class="col-md-2"></div>
   </div>
  </div>
  <div class="pad-bottom">&nbsp;</div>
</div>

<div class="blue-stripe">
  <div class="container">
    <!-- <div class="title centered">Keynotes</div> -->
    <div class="big-white-italic centered">
      <span class="turquoise">Two</span> days, <span class="turquoise">two</span> tracks.
      <br/><!-- <br/><img src="{{ site.baseurl }}/resources/img/two-tracks.png"/><br/> -->
      <span style="font-weight: 800; font-size: 44px;"><span class="turquoise">Four</span> exciting keynotes</span>
    </div>
    <div class="row">
      <div class="col-md-3 centered">
        <div class="circular gilad"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://bracha.org/Site/Home.html">Gilad Bracha</a></span><br/>
        <span class="keynote-affiliation">Google</span><br/>
        <span class="keynote-known-for">Dart, Java Generics</span>
        <!-- Programs Wanted: Dead or Alive -->
      </div>
      <div class="col-md-3 centered">
        <div class="circular brendan"></div>
        <span class="gray-text centered keynote-speaker"><a href="https://brendaneich.com/">Brendan Eich</a></span><br/>
        <span class="keynote-known-for">Creator of JavaScript</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular jeff-stefan"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://julialang.org/">Jeff Bezanson <span class="amp">&amp;</span> Stefan Karpinski </a></span><br/>
        <span class="keynote-affiliation">MIT</span><br/>
        <span class="keynote-known-for">Creators of Julia Language</span>
      </div>
      <div class="col-md-3 centered">
        <div class="circular evan"></div>
        <span class="gray-text centered keynote-speaker"><a href="http://elm-lang.org/">Evan Czaplicki</a></span><br/>
        <span class="keynote-affiliation">Prezi</span><br/>
        <span class="keynote-known-for">Creator of Elm Language</span>
      </div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>

    <!-- Join designers of exciting emerging languages, popular languages, emerging paradigms and more. Add your voice to the conversation. -->

<div class="turquoise-stripe">
  <div class="container">
    <div class="big-white-italic centered" style="font-weight: 700; font-size: 38px;">
      and many more influential speakers!
    </div>
    <div class="row">
      <div class="col-md-1 centered"></div>
      <div class="col-md-2 centered">
        <div class="circular phil"></div>
        <span class="gray-text centered speaker"><a href="http://bracha.org/Site/Home.html">Phil Wadler</a></span><br/>
        <span class="keynote-affiliation">University of Edinburgh</span><br/>
        <span class="keynote-known-for">Functional Programming, Haskell</span>
        <!-- Programs Wanted: Dead or Alive -->
      </div>
      <div class="col-md-2 centered">
        <div class="circular marc"></div>
        <span class="gray-text centered speaker"><a href="http://pagesperso-systeme.lip6.fr/Marc.Shapiro/">Marc Shapiro</a></span><br/>
        <span class="keynote-affiliation">INRIA</span><br/>
        <span class="keynote-known-for">CRDTs</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular cliff"></div>
        <span class="gray-text centered speaker"><a href="http://0xdata.com/">Cliff Click</a></span><br/>
        <span class="keynote-affiliation">0xdata</span><br/>
        <span class="keynote-known-for">HotSpot</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular andrey"></div>
        <span class="gray-text centered speaker"><a href="https://sites.google.com/site/abreslav2/">Andrey Breslav</a></span><br/>
        <span class="keynote-affiliation">JetBrains</span><br/>
        <span class="keynote-known-for">Creator of Kotlin Language</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular andy"></div>
        <span class="gray-text centered speaker"><a href="http://research.microsoft.com/en-us/people/adg/">Andy Gordon</a></span><br/>
        <span class="keynote-affiliation">Microsoft Research</span><br/>
        <span class="keynote-known-for">Probabilistic Programming</span>
      </div>
      <div class="col-md-1 centered"></div>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
      <div class="col-md-2 centered"></div>
      <div class="col-md-2 centered">
        <div class="circular bodil"></div>
        <span class="gray-text centered speaker"><a href="http://bodil.org/">Bodil Stokke</a></span><br/>
        <span class="keynote-known-for">PureScript</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular julia"></div>
        <span class="gray-text centered speaker"><a href="http://pagesperso-systeme.lip6.fr/Julia.Lawall/">Julia Lawall</a></span><br/>
        <span class="keynote-affiliation">INRIA</span><br/>
        <span class="keynote-known-for">Coccinelle</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular filip"></div>
        <span class="gray-text centered speaker"><a href="http://www.filpizlo.com/">Filip Pizlo</a></span><br/>
        <span class="keynote-affiliation">Apple</span><br/>
        <span class="keynote-known-for">WebKit</span>
      </div>
      <div class="col-md-2 centered">
        <div class="circular tony"></div>
        <span class="gray-text centered speaker"><a href="https://www.linkedin.com/pub/tony-printezis/5/a8b/44b">Tony Printezis</a></span><br/>
        <span class="keynote-affiliation">Twitter</span><br/>
        <!-- <span class="keynote-known-for"></span> -->
      </div>
      <div class="col-md-2 centered"></div>
    </div>
    <div class="row" style="height: 40px;"></div>
    <div class="row">
      <div class="col-md-5 centered"></div>
      <div class="col-md-2 centered">
        <div class="circular silhouette"></div>
        <span class="gray-text centered speaker"><a href="">Your Name Here</a></span><br/>
        <!-- <span class="keynote-affiliation">INRIA</span><br/> -->
        <!-- <span class="keynote-known-for">Coccinelle</span> -->
      </div>
      <div class="col-md-5 centered"></div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>

<div class="blue-stripe">
  <div class="container centered">
    <div class="hand-drawn"><img src="{{ site.baseurl }}/resources/img/hand-drawn.png"></div>
    <div class="tagline">
      Add your voice to the conversation.
    </div>
    <div class="subtagline" style="margin-bottom: 20px;">
      Join designers of exciting emerging languages, popular languages,
      <br/>emerging paradigms and more.
    </div>
    <a href="http://curry-on.org/2015/cfp.html" class="btn btn-outline-inverse btn-lg">Call for Presentations</a>
    <div class="call-ends">Deadline: April 3<sup>rd</sup></div>
    <div class="pad-bottom"></div>
  </div>
</div>

    <!-- Interested in joining us? If -->
<div class="turquoise-stripe">
  <div class="container centered">
    <div class="tagline">Interested in attending?</div>
    <div class="subtagline" style="font-weight: 300; color: #073642; margin-bottom: 10px;">Help us make sure we book enough space to accommodate everyone.<br/>Tell us if you'd like to score a ticket!</div>
    <div class="fyi dark-blue ">
      Leave your and email address so we can let you know when tickets become available.
      <br/>Fret not, we'll use your email addresss only to contact you to inform you when tickets go on sale.
    </div>
    <div class="fyi gray">
      (Tickets are estimated to cost &euro; 500-600, and will be good for all of Curry On, <a href="http://2015.ecoop.org/">ECOOP</a>, and
      <br/>other co-located events for the entire week.)
    </div>
    {% include mailchimp.html %}
    <div class="pad-bottom"></div>
  </div>
</div>

<div class="blue-stripe">
  <div class="pad-top"></div>
  <div class="container centered">
<!--     <span class="big-white-italic">We <span class="entypo heart"></span> these folks</span><br/><br/>
    <img src="{{ site.baseurl }}/resources/img/typesafe-logo.png">
    <br/><br/> -->
    <div class="wanna-help" style="margin-bottom: 18px;">Wanna help?</div>
    <a href="http://curry-on.org/2015/sponsorship.html" class="btn btn-outline-inverse btn-lg">Sponsorship Opportunities</a>
    <div class="pad-bottom"></div>
  </div>
</div>

<div class="turquoise-stripe">
  <div class="container">
    <div class="organizers-title centered">
      Organizers
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-2"><div class="circular heather"></div><div class="white-text centered speaker"><a href="http://heather.miller.am">Heather Miller</a><br/>EPFL<br/><span class="organizer-chair">(Co-Chair)</span></div></div>
      <div class="col-md-2"><div class="circular jan"></div><div class="white-text centered speaker"><a href="http://janvitek.github.io/">Jan Vitek</a><br/>Northeastern University<br/><span class="organizer-chair">(Co-Chair)</span></div></div>
      <div class="col-md-2"><div class="circular chris"></div><div class="white-text centered speaker"><a href="http://christophermeiklejohn.com/">Christopher Meiklejohn</a><br/>Basho<br/><span class="organizer-chair"></span></div></div>
      <div class="col-md-3"></div>
    </div>
    <div class="pad-bottom"></div>
  </div>
</div>