<div class="splash">
  <div class="container">
<!--     <div class="circle-yellow">&nbsp;</div>
    <div class="circle-blue">
      <div class="annual">the fifth annual Scala Workshop</div>
      <div class="scala2014">
        <span class="scala"><a href="{{ site.baseurl }}/index.html">Scala</a></span><span class="year"><a href="{{ site.baseurl }}/index.html">2014</a></span>
      </div>
      <div class="dates">July 28-29<sup>th</sup></div>
      <div class="location">Uppsala, Sweden</div>
      <div class="sweden"></div>
      <div class="inner-first map-marker">
        <div class="inner-second">
          <div class="inner-third">
          </div>
        </div>
      </div>
      <div class="coloc">co-located with <a href="http://ecoop14.it.uu.se">ECOOP</a></div>
    </div>
 -->  </div>
</div>