---
layout: default
---

{% include 2017-header.html %}

<!-- <div class="top-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="curry-on-emblem-wrap">
          <div class="emblem">
            <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/resources/img/curry-on-logo-top-bar.png"></a>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<div class="blue-stripe-top-banner">
  <div class="container">
  </div>
</div> -->

<div class="reddish-orange-stripe centered">
  <br/><br/>
  <a href="{{ site.baseurl }}/2017">
    <div class="curry-on-wrap">
      <span class="curry-on">Curry On</span><br/>
      <span class="rome-inner">Barcelona!</span>
      <div class="dates white">June 18-19<sup>th</sup>, 2017</div>
      <br/><br/>
    </div>
  </a>
</div>

<!-- <div class="inner-page-wrap"> -->
  <div class="container inner-page-wrap">
    <div class="row">
      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-8">
        <div class="inner-page-title">{{ page.title }}</div>
        {{ content }}
      </div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>
<!-- </div> -->

{% include 2017-footer.html %}
