---
layout: default
---

{% include 2017-header.html %}



<div class="reddish-orange-stripe centered">
  <br/><br/>
  <a href="{{ site.baseurl }}/2017">
    <div class="curry-on-wrap">
      <span class="curry-on">Curry On</span><br/>
      <span class="rome-inner">Barcelona!</span>
      <div class="dates white">June 19-20<sup>th</sup>, 2017</div>
      <br/><br/>
    </div>
  </a>
</div>


<div class="inner-page-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="circular {{ page.profpic-class }}" style="float: left; margin-top: 42px; margin-right: 18px; "></div>
        <div class="abstract-page-title">{{ page.title }}</div>
        <div class="abstract-page-by">{{ page.by }}</div>
        {% if page.affiliation != "" %}<div class="abstract-page-affiliation">{{ page.affiliation }}</div>{% endif %}
        {{ content }}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

{% include 2017-footer.html %}
