---
layout: default
---

{% include 2020-header.html %}



<div class="reddish-orange-stripe centered">
  <br/><br/>
  <a href="{{ site.baseurl }}/2020">
    <div class="curry-on-wrap">
      <span class="curry-on">Curry On</span><br/>
      <span class="rome">{{ settings.city  }}!</span>
      <div class="dates white">{{ settings.conference_dates }}</div>
      <br/><br/>
    </div>
  </a>
</div>


<div class="inner-page-wrap">
  <div class="container">
    {% for speaker in page.speakers %}
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {% if forloop.first == true %}
        <div class="circular {{ speaker.id }}" style="float: left; margin-top: 42px; margin-right: 18px; "></div>
        <div class="abstract-page-title">{{ page.title }}</div>
        {% else %}
        <div class="circular {{ speaker.id }}" style="float: left; margin-top: 22px; margin-right: 18px; "></div>
        <div class="abstract-page-title"></div>
        {% endif %}
        <div class="abstract-page-by">
          {{ speaker.name }}
        </div>
        {% if speaker.affiliation != "" %}
        <div class="abstract-page-affiliation">
          {{ speaker.affiliation }}
        </div>
        {% endif %}
        {% if speaker.twitter != "" %}
        <div class="td-twitter">
          <a href="https://twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a>
        </div>
        {% endif %}
        {% if speaker.video %}
        <div class="td-video-link">
            <a href="{{ speaker.video }}">
                <span class="fa fa-youtube-play" style="font-size: 18px;" aria-hidden="true"></span>&nbsp;watch
            </a>
        </div>
        {% endif %}
      </div>
      <div class="col-md-2"></div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {{ content }}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

{% include 2020-footer.html %}
