---
layout: frontpage
---

{% include header.html %}

<!-- <div class="red-stripe">
  <div class="container">
    <span class="entypo megaphone"></span>&nbsp;<b>NEWS:</b> Thanks to our sponsors, a limited number of accepted <b>student</b> talks/papers will be awarded registration (and possibly lodging)!
    <br/><center><a href="student-grants.html">More info.</a></center>
  </div>
</div> -->

{% include splash.html %}

<div class="blue-stripe">
  <div class="container">
    <div class="tagline">The leading forum for <span class="red">research</span> <span class="amp">&</span> <span class="red">development</span> related to the <span class="scala-font">Scala</span> programming language.</div>
  </div>
</div>

<div class="arrow-down blue"></div>
<div class="yellow-stripe">
  <div class="transp-blue-arrow"></div>
  <div class="after-arrow"></div>
  <div class="transp-blue"></div>
  <div class="inside-stripe container">
    <div class="blue-text centered">
      Two days, one track. For <span class="red">industry</span> <span class="amp">&</span> <span class="red">academia</span> alike.
    </div>
    <div class="row centered">
      <a href="{{ site.baseurl }}#program" class="btn btn-outline btn-lg">Program</a>
      <a href="{{ site.baseurl }}#accepted-papers" class="btn btn-outline btn-lg">Accepted Papers</a>
      <a href="http://ecoop14.it.uu.se/registration.php" class="btn btn-outline btn-lg">Register</a>
    </div>
  </div>
</div>

<div class="arrow-down yellow"></div>
<div class="blue-stripe" style="margin-top: -50px;">
  <div class="transp-yellow-arrow"></div>
  <div class="after-arrow"></div>
  <div class="transp-yellow"></div>
  <div class="inside-stripe container">
    <div class="row format" style="margin-top: -60px;">
      <h1>Two exciting keynotes <!-- <span class="small-italic">(TBA)</span> --></h1><br/>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"><div class="circular edwin"></div></div>
      <div class="col-md-6"><div class="red-text organizer"><span class="panel-title">Programming with Dependent Types in Idris</span><br/><a style="font-size: 22px; color: #fff;" href="http://edwinb.wordpress.com/">Edwin Brady</a><br/><span class="keynote-university">University of St. Andrews<br/></span><span class="keynote-blurb">Creator of Idris Programming Language</span></div></div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"><div class="circular mark"></div></div>
      <div class="col-md-6"><div class="red-text organizer"><span class="panel-title">Experiences with Scala for Introductory CS</span><br/><a style="font-size: 22px; color: #fff;" href="http://www.cs.trinity.edu/~mlewis/">Mark Lewis</a><br/><span class="panelists"><b>Trinity University</b><br/><span style="font-size: 21px">Author of Introduction to the Art of Programming Using Scala</span></span></div></div>
      <div class="col-md-2"></div>
    </div>
    <div class="row format">
      <h1>An unforgettable panel discussion,</h1>
      <div class="panel-title">Scala <span class="amp">&</span> Next-Generation Languages:<br/>Language Design for Mainstream Software Engineering</div>
      <div class="panelists">
        <div class="panelist"><b>Jonathan Aldrich</b>, Carnegie Mellon University</div>
        <div class="panelist"><b>Edwin Brady</b>, University of St. Andrews</div>
        <!-- <div class="panelist to-confirm"><b>Gilad Bracha</b>, Google (if at ECOOP)</div> -->
        <!-- <div class="panelist"><b>Shriram Krishnamurthi</b>, Brown University</div> -->
        <!-- <div class="panelist"><b>Erik Meijer</b>, Applied Duality/TU Delft</div> -->
        <div class="panelist"><b>Martin Odersky</b>, EPFL</div>
        <div class="panelist"><b>Peter Van Roy</b>, Catholic University of Louvain</div>
        <div class="panelist"><b>Jan Vitek</b>, Purdue University</div>
      </div>
      <div class="small-italic full-program">As well as a full program of academic <span class="amp">&</span> industrial talks...</div>
    </div>
    <div class="row format">
      <div class="col-md-8 academic">
        <div class="title"><h1>Academic</h1></div>
        <div class="tile-wrapper">
          <div class="student-talks tile">
            <div class="title"><h1>Student Talks</h1></div>
            <div class="text" style="padding-right: 20px;">
              Short 5-10 minute talks by students presenting ongoing or completed research related to Scala, or announcing a project that would be of interest to the Scala community.
            </div>
          </div>
          <div class="tool-demos tile">
            <div class="title"><h1>Tool Demos</h1></div>
            <div class="text" style="padding-left: 26px;">
              A live demonstration of a tool (typically complete, robust, and well-documented), accompanied by a short paper providing an overview of the tool.
            </div>
          </div>
          <div class="research-papers tile">
            <div class="title"><h1>Research Papers</h1></div>
            <div class="text">
              Papers describing original research or experience reports related to Scala.
              <p style="margin-top: 8px;">
                <b class="red">Research papers come in two flavors:</b>
                <br/><b>- Regular</b> (10 page) papers
                <br/><b>- Short</b> (4 page) papers
              </p>
              <p>Both in ACM double-column style.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 industrial">
        <div class="title"><h1>Industrial</h1></div>
        <div class="and-open-source">(<span class="amp">&</span> Open Source)</div>
        <div class="text">
          <p>
            <b>Open Source Talks</b><br/>
            Short talks by Scala enthusiasts and students presenting open source projects using Scala that they authored and/or contribute to.
          </p>
          <p>
            <b>Invited Industrial Talks</b><br/>
            Invited talks by prominent speakers from industry, showcasing their use of Scala in production systems.
          </p>
          <p>
            <b>Meet Some Scala Shops</b><br/>
            Short presentations by our industrial sponsors. Networking with recent graduates and the Scala community.
          </p>
        </div>
      </div>
    </div>
    <div class="row centered">
      <div class="papers-talks-due">Papers/Talks due: May 14<sup>th</sup></div>
      <div class="abstracts-due">(Abstracts due May 7<sup>th</sup>)</div>
      <a href="{{ site.baseurl }}/call-for-papers.html" class="btn btn-outline-inverse btn-lg">Call for Papers</a>
    </div>
  </div>
</div>

<div class="arrow-down blue"></div>
<div class="yellow-stripe">
  <div class="transp-blue-arrow"></div>
  <div class="after-arrow"></div>
  <div class="transp-blue"></div>
  <div class="inside-stripe container">
    <div class="blue-text centered">
      These are the people making&nbsp;&nbsp;<span class="scala-font">Scala</span>'14 awesome.
      <div class="pc-title">
        Program Committee
      </div>
      <div class="pc-wrap">
        {% include pc.html %}
      </div>
    </div>
    <div class="organizers-title centered">
      Organizers
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"><div class="circular heather"></div><div class="blue-text centered organizer"><a href="http://heather.miller.am">Heather Miller</a><br/>EPFL<br/><span class="organizer-chair">(Co-Chair)</span></div></div>
      <div class="col-md-2"><div class="circular philipp"></div><div class="blue-text centered organizer"><a href="http://lampwww.epfl.ch/~phaller/">Philipp Haller</a><br/>Typesafe<br/><span class="organizer-chair">(Co-Chair)</span></div></div>
      <div class="col-md-2"><div class="circular martin"></div><div class="blue-text centered organizer"><a href="http://lampwww.epfl.ch/~odersky/">Martin Odersky</a><br/>EPFL</div></div>
      <div class="col-md-2"><div class="circular doug"></div><div class="blue-text centered organizer"><a href="http://g.oswego.edu/">Doug Lea</a><br/>SUNY Oswego</div></div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<div class="arrow-down yellow"></div>
<div class="blue-stripe" style="margin-top: -50px;">
  <div class="transp-yellow-arrow"></div>
  <div class="after-arrow"></div>
  <div class="transp-yellow"></div>
  <div class="inside-stripe container">
    <div class="sponsors">We <span class="entypo heart"></span> these folks</div>
    <div class="sponsors-text">
      Sponsoring ECOOP by supporting some of the talented student attendees of Scala'14.
    </div>
    <div class="sponsor-logos centered">
      <a href="http://www.typesafe.com"><img src="{{ site.baseurl }}/resources/img/typesafe-logo.png"></a>
      <br><a href="http://www.soundcloud.com"><img src="{{ site.baseurl }}/resources/img/soundcloud.png"></a>
      <br><a href="http://www.goldmansachs.com/"><img src="{{ site.baseurl }}/resources/img/goldman-sachs.png"></a>
    </div>
    <div class="need-sponsors">
      Wanna help?
    </div>
    <div class="sponsors-text">
      Sponsorship money covers registration fees for some students that are presenting Scala projects.
      <br/>Sponsoring companies can also participate in the workshop by presenting a pitch & networking w/ students.
      <br/>Contact us if you're interested in sponsoring Scala'14!
      <br/>
    </div>
  </div>
</div>

{% include footer.html %}