.circular.lars_bak {
  background-image: url('/resources/img/2019/people/lars_bak.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.lars_bak {
    background-image: url('/resources/img/2019/people/lars_bak@2x.png');
    background-size: 125px 125px;
  }
}

.circular.cynthia_solomon {
  background-image: url('/resources/img/2019/people/cynthia_solomon.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.cynthia_solomon {
    background-image: url('/resources/img/2019/people/cynthia_solomon@2x.png');
    background-size: 125px 125px;
  }
}

.circular.ashley_williams {
  background-image: url('/resources/img/2019/people/ashley_williams.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.ashley_williams {
    background-image: url('/resources/img/2019/people/ashley_williams@2x.png');
    background-size: 125px 125px;
  }
}

.circular.simon_marlow {
  background-image: url('/resources/img/2019/people/simon_marlow.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.simon_marlow {
    background-image: url('/resources/img/2019/people/simon_marlow@2x.png');
    background-size: 125px 125px;
  }
}

.circular.markus_volter {
  background-image: url('/resources/img/2019/people/markus_volter.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.markus_volter {
    background-image: url('/resources/img/2019/people/markus_volter@2x.png');
    background-size: 125px 125px;
  }
}

.circular.tom_ball {
  background-image: url('/resources/img/2019/people/tom_ball.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.tom_ball {
    background-image: url('/resources/img/2019/people/tom_ball@2x.png');
    background-size: 125px 125px;
  }
}

.circular.lin_clark {
  background-image: url('/resources/img/2019/people/lin_clark.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.lin_clark {
    background-image: url('/resources/img/2019/people/lin_clark@2x.png');
    background-size: 125px 125px;
  }
}

.circular.stephen_kell {
  background-image: url('/resources/img/2019/people/stephen_kell.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.stephen_kell {
    background-image: url('/resources/img/2019/people/stephen_kell@2x.png');
    background-size: 125px 125px;
  }
}

.circular.tudor_girba {
  background-image: url('/resources/img/2019/people/tudor_girba.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.tudor_girba {
    background-image: url('/resources/img/2019/people/tudor_girba@2x.png');
    background-size: 125px 125px;
  }
}

.circular.alastair_donaldson {
  background-image: url('/resources/img/2019/people/alastair_donaldson.png');
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .circular.alastair_donaldson {
    background-image: url('/resources/img/2019/people/alastair_donaldson@2x.png');
    background-size: 125px 125px;
  }
}

